In [3]:
import json
import numpy as np
import pandas as pd
import datetime as dt
from pandas.io.json import json_normalize
np.set_printoptions(precision=4, suppress=True)
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

In [4]:
fcast_data_ifp = pd.read_csv('data0928/fcasts0928_with_ifp_turk_info.csv')

/Users/vnkn/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
with open('data0928/forecasts.json') as json_file_2:
    fcast_data = json.load(json_file_2)
    
print(len(fcast_data))#, len(ifp_data))
fcast_data = fcast_data['predictions'] #'predictions' is the only first tier key of the json file
print(len(fcast_data))#, len(ifp_data))
fcasts = json_normalize(fcast_data)
fcasts = fcasts.sort_values(by=['question_id','user_id','created_at'], ascending=[True, True, True])
fcasts = fcasts.reset_index()

fcasts.columns

1
347992

Index(['index', 'auto', 'confidence', 'created_at', 'downvotes', 'forecast',
       'question_id', 'rationale', 'team_id', 'upvotes', 'user_id', 'wager'],
      dtype='object')

In [6]:
fcast_data_ifp['forecast'] = fcasts['forecast']

In [7]:
ifp_control_users = fcast_data_ifp[fcast_data_ifp['user_id'] > 9000]
ifp_control_users = ifp_control_users.reset_index()

In [9]:
ifp_control_users[:3]

,index,Unnamed: 0,Unnamed: 0.1,auto,confidence,created_at,downvotes,forecast,question_id,rationale,team_id,upvotes,user_id,wager,timestamp,turk_user,id,resolved?,type,ground_truth,answers,ifp_opens_at,ifp_closes_at,ifp_resolves_at
0,632,632,281976,NaN,50,2018-04-12T16:15:46.290Z,NaN,"[{'name': 'Less than 2,000', 'value': 50.0, 'a...",822,NaN,1000,NaN,9001,0,2018-04-12T16:15:46.290Z,False,822,True,5,1.0,"[{'ended?': True, 'probability': 1.0, 'questio...",2018-03-07,2018-04-30,2018-05-08
1,633,633,290028,NaN,50,2018-04-08T00:11:35.929Z,NaN,"[{'name': 'Less than 2,000', 'value': 45.0, 'a...",822,NaN,1000,NaN,9003,0,2018-04-08T00:11:35.929Z,False,822,True,5,1.0,"[{'ended?': True, 'probability': 1.0, 'questio...",2018-03-07,2018-04-30,2018-05-08
2,634,634,282576,NaN,50,2018-04-23T20:55:49.287Z,NaN,"[{'name': 'Less than 2,000', 'value': 100.0, '...",822,NaN,1000,NaN,9003,0,2018-04-23T20:55:49.287Z,False,822,True,5,1.0,"[{'ended?': True, 'probability': 1.0, 'questio...",2018-03-07,2018-04-30,2018-05-08

In [10]:
import time
import datetime
created_at = ifp_control_users['created_at'].astype(str).str[:10]
closes_at = ifp_control_users['ifp_closes_at']
resolves_at = ifp_control_users['ifp_resolves_at']
delta1s = []
delta2s = []
for k in range(len(created_at)):
    #print(k)
    created = created_at[k]
    closes = closes_at[k]
    resolves = resolves_at[k]
    #print(created)
    #print(closes)
    #print(resolves)
    delta1 = time.mktime(datetime.datetime.strptime(closes, "%Y-%m-%d").timetuple()) - time.mktime(datetime.datetime.strptime(created, "%Y-%m-%d").timetuple()) 
    delta2 = time.mktime(datetime.datetime.strptime(resolves, "%Y-%m-%d").timetuple()) - time.mktime(datetime.datetime.strptime(created, "%Y-%m-%d").timetuple()) 
    delta1s.append(delta1)
    delta2s.append(delta2)
    #print(timestamp1)
for k in range(len(delta1s)):
    delta1s[k] = delta1s[k] / 86400
    delta2s[k] = delta2s[k] / 86400
#fcast_data_ifp['time_elapsed'] = fcast_data_ifp['timestamp'] - fcast_data_ifp['created_at']

In [8]:
delta1s[:10]

NameError: name 'delta1s' is not defined

In [44]:
delta2s[:10]

[26.0, 30.0, 15.0, 28.0, 21.0, 57.0, 41.0, 41.0, 28.0, 11.0]

In [15]:
deltas = pd.DataFrame({'Close_Deltas': delta1s, 'Resolve_Deltas': delta2s, 'Value1s': value1s })

In [18]:
[value1s[:1000]]

[[30.0,
  25.0,
  80.0,
  70.0,
  80.0,
  40.0,
  55.0,
  65.0,
  70.0,
  80.0,
  0.0,
  62.0,
  80.0,
  80.0,
  15.0,
  15.0,
  40.0,
  40.0,
  67.0,
  70.0,
  80.0,
  80.0,
  20.0,
  8.0,
  35.00000000000001,
  55.0,
  53.0,
  80.0,
  60.0,
  80.0,
  5.0,
  0.0,
  10.0,
  20.0,
  20.0,
  40.0,
  60.0,
  65.0,
  75.0,
  79.0,
  79.0,
  80.0,
  80.0,
  21.0,
  21.0,
  21.0,
  20.0,
  20.0,
  20.0,
  17.0,
  17.0,
  17.0,
  18.0,
  18.0,
  18.0,
  18.0,
  18.0,
  18.0,
  18.0,
  18.0,
  19.0,
  37.99999999999999,
  48.0,
  53.0,
  74.0,
  80.0,
  40.0,
  5.0,
  5.999999999999998,
  9.0,
  11.0,
  31.0,
  40.0,
  70.0,
  50.0,
  65.0,
  55.0,
  80.0,
  80.0,
  20.0,
  10.0,
  65.0,
  20.0,
  40.0,
  79.0,
  80.0,
  80.0,
  45.0,
  10.0,
  5.0,
  50.0,
  80.0,
  79.0,
  80.0,
  80.0,
  20.0,
  15.0,
  10.0,
  2.0,
  80.0,
  5.0,
  0.0,
  75.0,
  20.0,
  5.0,
  80.0,
  55.0,
  20.0,
  17.0,
  55.0,
  17.0,
  5.0,
  10.0,
  35.00000000000001,
  43.0,
  20.0,
  0.0,
  20.0,
  0.0,
  80.0,
  5.0,
  55.0,
  25.0,
  20.0,
  20.0,
  20.0,
  60.0,
  20.0,
  20.0,
  10.0,
  15.0,
  15.0,
  17.0,
  0.0,
  20.0,
  15.0,
  10.0,
  20.0,
  20.0,
  20.0,
  20.0,
  20.0,
  20.0,
  55.0,
  20.0,
  15.0,
  2.0,
  20.0,
  0.0,
  0.0,
  5.0,
  15.0,
  11.0,
  12.0,
  12.0,
  12.0,
  12.0,
  50.0,
  20.0,
  20.0,
  20.0,
  20.0,
  20.0,
  20.0,
  20.0,
  20.0,
  15.0,
  20.0,
  20.0,
  20.0,
  0.0,
  0.0,
  55.0,
  45.0,
  20.0,
  20.0,
  20.0,
  20.0,
  20.0,
  10.0,
  15.0,
  20.0,
  35.00000000000001,
  20.0,
  40.0,
  40.0,
  5.0,
  50.0,
  40.0,
  30.0,
  30.0,
  25.0,
  25.0,
  30.0,
  25.0,
  20.0,
  11.0,
  18.0,
  14.0,
  7.0,
  1.0,
  1.0,
  0.0,
  0.0,
  6.0,
  6.0,
  6.0,
  6.0,
  6.0,
  6.0,
  6.0,
  8.0,
  8.0,
  8.0,
  11.0,
  15.0,
  15.0,
  15.0,
  15.0,
  11.0,
  15.0,
  15.0,
  12.0,
  12.0,
  12.0,
  14.0,
  14.0,
  11.0,
  11.0,
  11.0,
  11.0,
  11.0,
  11.0,
  12.0,
  10.0,
  10.0,
  10.0,
  10.0,
  55.0,
  10.0,
  20.0,
  20.0,
  20.0,
  55.0,
  54.0,
  46.0,
  36.00000000000001,
  20.0,
  11.0,
  10.0,
  18.0,
  15.0,
  20.0,
  20.0,
  20.0,
  30.0,
  45.0,
  20.0,
  5.0,
  17.0,
  20.0,
  20.0,
  15.0,
  20.0,
  20.0,
  20.0,
  20.0,
  20.0,
  25.0,
  20.0,
  15.0,
  20.0,
  35.00000000000001,
  0.0,
  55.0,
  35.00000000000001,
  20.0,
  55.0,
  15.0,
  15.0,
  15.0,
  20.0,
  62.0,
  9.0,
  20.0,
  10.0,
  10.0,
  45.0,
  20.0,
  5.0,
  30.0,
  10.0,
  20.0,
  5.0,
  20.0,
  45.0,
  10.0,
  13.0,
  15.0,
  20.0,
  0.0,
  80.0,
  55.0,
  20.0,
  50.0,
  30.0,
  30.0,
  20.0,
  42.0,
  10.0,
  5.0,
  0.0,
  0.0,
  0.0,
  60.0,
  25.0,
  10.0,
  20.0,
  30.0,
  17.0,
  20.0,
  46.0,
  69.0,
  28.0,
  5.0,
  20.0,
  20.0,
  0.0,
  20.0,
  20.0,
  1.0,
  11.0,
  12.0,
  12.0,
  12.0,
  0.0,
  0.0,
  15.0,
  55.0,
  15.0,
  0.0,
  50.0,
  5.0,
  79.0,
  10.0,
  15.0,
  65.0,
  40.0,
  79.0,
  20.0,
  19.0,
  45.0,
  5.0,
  20.0,
  30.0,
  5.0,
  30.0,
  30.0,
  30.0,
  7.0,
  15.0,
  55.0,
  50.0,
  25.0,
  60.0,
  5.0,
  40.0,
  10.0,
  20.0,
  10.0,
  30.0,
  80.0,
  8.0,
  60.0,
  15.0,
  20.0,
  20.0,
  50.0,
  10.0,
  60.0,
  55.0,
  58.0,
  55.0,
  50.0,
  60.0,
  80.0,
  5.0,
  80.0,
  50.0,
  65.0,
  45.0,
  45.0,
  70.0,
  80.0,
  64.0,
  75.0,
  80.0,
  65.0,
  80.0,
  55.0,
  80.0,
  60.0,
  15.0,
  20.0,
  20.0,
  55.0,
  55.0,
  65.0,
  65.0,
  80.0,
  80.0,
  10.0,
  20.0,
  45.0,
  45.0,
  63.0,
  63.0,
  61.0,
  61.0,
  61.0,
  60.0,
  60.0,
  60.0,
  60.0,
  58.0,
  57.0,
  57.0,
  57.0,
  47.0,
  47.0,
  47.0,
  47.0,
  47.0,
  47.0,
  51.0,
  51.0,
  55.0,
  55.0,
  45.0,
  58.0,
  36.00000000000001,
  48.0,
  53.0,
  70.0,
  55.0,
  50.0,
  55.0,
  80.0,
  60.0,
  80.0,
  53.0,
  35.00000000000001,
  67.0,
  37.99999999999999,
  60.0,
  55.0,
  18.0,
  0.0,
  0.0,
  73.0,
  77.0,
  62.0,
  66.0,
  15.0,
  55.0,
  20.0,
  80.0,
  20.0,
  35.00000000000001,
  80.0,
  45.0,
  55.0,
  40.0,
  45.0,
  20.0,
  50.0,
  55.0,
  35.00000000000001,
  32.0,
  55.0,
  10.0,
  30.0,
  15.0,
  50.0,
  50.0,
  40.0,
  5.0,
  66.0,
  76.0,
  10.0,
  30.0,
  60.0,
  75.0,
  80.0,
  5.0,
  80.0,
  65.0,
  50.0,
  25.0,
  45.0,
  19.0,
  55.0,
  0.0,
  10.0,
  50.0,
  12.0,
  20.0,
  20.0,
  10.0,
  2.0,
  65.0,
  55.0,
  17.0,
  7.0,
  30.0,
  0.0,
  4.0,
  4.0,
  4.0,
  4.0,
  6.0,
  10.0,
  0.0,
  28.0,
  12.0,
  12.0,
  10.0,
  5.0,
  55.0,
  45.0,
  50.0,
  70.0,
  65.0,
  68.0,
  75.0,
  80.0,
  70.0,
  75.0,
  65.0,
  45.0,
  60.0,
  60.0,
  80.0,
  70.0,
  80.0,
  9.0,
  7.0,
  2.0,
  2.0,
  2.0,
  2.0,
  80.0,
  5.0,
  5.0,
  5.0,
  15.0,
  15.0,
  15.0,
  15.0,
  10.0,
  10.0,
  10.0,
  10.0,
  10.0,
  5.0,
  55.0,
  65.0,
  45.0,
  25.0,
  25.0,
  80.0,
  65.0,
  5.0,
  9.0,
  10.0,
  10.0,
  11.0,
  11.0,
  12.0,
  12.0,
  12.0,
  12.0,
  12.0,
  12.0,
  12.0,
  12.0,
  12.0,
  12.0,
  14.0,
  14.0,
  14.0,
  16.0,
  19.0,
  19.0,
  19.0,
  18.0,
  18.0,
  18.0,
  18.0,
  18.0,
  18.0,
  18.0,
  18.0,
  18.0,
  18.0,
  18.0,
  18.0,
  18.0,
  18.0,
  18.0,
  18.0,
  18.0,
  19.0,
  19.0,
  19.0,
  19.0,
  19.0,
  19.0,
  17.0,
  17.0,
  17.0,
  17.0,
  17.0,
  17.0,
  17.0,
  17.0,
  17.0,
  17.0,
  17.0,
  17.0,
  17.0,
  17.0,
  17.0,
  17.0,
  17.0,
  17.0,
  17.0,
  17.0,
  17.0,
  17.0,
  16.0,
  16.0,
  16.0,
  16.0,
  16.0,
  16.0,
  17.0,
  17.0,
  17.0,
  18.0,
  18.0,
  14.0,
  14.0,
  14.0,
  12.0,
  12.0,
  12.0,
  12.0,
  12.0,
  12.0,
  20.0,
  0.0,
  15.0,
  30.0,
  15.0,
  15.0,
  5.0,
  10.0,
  15.0,
  5.0,
  5.0,
  5.0,
  10.0,
  35.00000000000001,
  50.0,
  35.00000000000001,
  50.0,
  55.0,
  65.0,
  77.0,
  44.0,
  55.0,
  60.0,
  70.0,
  80.0,
  15.0,
  70.0,
  65.0,
  15.0,
  20.0,
  20.0,
  80.0,
  10.0,
  55.0,
  20.0,
  15.0,
  0.0,
  0.0,
  15.0,
  72.0,
  13.0,
  12.0,
  20.0,
  10.0,
  20.0,
  10.0,
  2.0,
  45.0,
  10.0,
  15.0,
  15.0,
  30.0,
  10.0,
  10.0,
  5.0,
  34.0,
  5.0,
  10.0,
  3.0,
  10.0,
  55.0,
  19.0,
  5.0,
  5.0,
  75.0,
  0.0,
  12.0,
  15.0,
  0.0,
  10.0,
  2.0,
  10.0,
  0.0,
  8.000000000000004,
  15.0,
  10.0,
  79.0,
  20.0,
  20.0,
  20.0,
  16.0,
  10.0,
  80.0,
  15.0,
  0.0,
  5.0,
  10.0,
  15.0,
  15.0,
  5.0,
  20.0,
  5.0,
  46.0,
  20.0,
  20.0,
  15.0,
  20.0,
  20.0,
  10.0,
  10.0,
  20.0,
  20.0,
  12.0,
  15.0,
  20.0,
  5.0,
  10.0,
  40.0,
  15.0,
  15.0,
  16.0,
  0.0,
  0.0,
  5.0,
  19.0,
  10.0,
  18.0,
  18.0,
  25.0,
  5.0,
  5.0,
  11.0,
  11.0,
  15.0,
  20.0,
  0.0,
  20.0,
  20.0,
  20.0,
  15.0,
  5.0,
  20.0,
  10.0,
  15.0,
  10.0,
  10.0,
  0.0,
  5.0,
  20.0,
  55.0,
  70.0,
  5.0,
  5.0,
  25.0,
  2.0,
  0.0,
  55.0,
  66.0,
  10.0,
  15.0,
  70.0,
  50.0,
  5.0,
  10.0,
  0.0,
  15.0,
  20.0,
  35.00000000000001,
  5.0,
  15.0,
  10.0,
  10.0,
  10.0,
  20.0,
  5.0,
  0.0,
  7.0,
  10.0,
  5.0,
  10.0,
  0.0,
  1.0,
  15.0,
  79.0,
  10.0,
  5.0,
  0.0,
  5.0,
  5.0,
  79.0,
  19.0,
  30.0,
  55.0,
  12.0,
  5.0,
  10.0,
  10.0,
  10.0,
  0.0,
  15.0,
  15.0,
  10.0,
  11.0,
  3.0,
  15.0,
  10.0,
  55.0,
  12.0,
  50.0,
  10.0,
  40.0,
  42.0,
  20.0,
  12.0,
  45.0,
  5.0,
  57.0,
  30.0,
  5.0,
  15.0,
  15.0,
  0.0,
  0.0,
  40.0,
  15.0,
  15.0,
  10.0,
  40.0,
  40.0,
  55.0,
  30.0,
  10.0,
  15.0,
  15.0,
  10.0,
  13.0,
  30.0,
  8.000000000000004,
  40.0,
  30.0,
  5.0,
  0.0,
  25.0,
  15.0,
  20.0,
  5.0,
  60.0,
  19.0,
  10.0,
  0.0,
  15.0,
  15.0,
  15.0,
  30.0,
  12.0,
  15.0,
  70.0,
  15.0,
  18.0,
  5.0,
  15.0,
  5.0,
  10.0,
  17.0,
  19.0,
  5.0,
  20.0,
  0.0,
  0.0,
  20.0,
  20.0,
  13.0,
  20.0,
  20.0,
  5.0,
  20.0,
  20.0,
  15.0,
  17.0,
  20.0,
  20.0,
  20.0,
  20.0,
  20.0,
  20.0,
  20.0,
  12.0,
  18.0,
  19.0,
  15.0,
  20.0,
  20.0,
  20.0,
  15.0,
  20.0,
  20.0,
  18.0,
  18.0,
  19.0,
  19.0,
  19.0,
  19.0,
  19.0,
  19.0,
  19.0,
  19.0,
  19.0,
  19.0,
  20.0,
  19.0,
  19.0,
  5.0,
  17.0,
  13.0,
  13.0,
  13.0,
  19.0,
  19.0,
  19.0,
  19.0,
  19.0,
  19.0,
  20.0,
  20.0,
  20.0,
  20.0,
  5.0,
  5.0,
  5.0,
  15.0,
  5.0,
  20.0,
  15.0,
  14.0,
  20.0,
  10.0,
  5.0,
  20.0,
  20.0,
  10.0,
  10.0,
  10.0,
  15.0,
  15.0,
  15.0,
  15.0,
  15.0,
  20.0,
  80.0,
  20.0]]

In [11]:
residuals = []
for k in range(len(ifp_control_users)):
    print(k)
    option_1_value = ifp_control_users['forecast'].reset_index().ix[k]['forecast'][0]['value']
    question_length = len(ifp_control_users['forecast'].reset_index().ix[k]['forecast'])
    residuals.append(abs(option_1_value - 100/question_length))

0
1
2
3
4
5
6

/Users/vnkn/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  after removing the cwd from sys.path.
/Users/vnkn/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """

7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116

KeyboardInterrupt:

In [1]:
residuals

NameError: name 'residuals' is not defined

In [ ]:
ifp_control_users.join(deltas)

In [20]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression().fit([delta2s[:1000]], [value1s[:1000]])

In [24]:
np.corrcoef(delta1s,value1s)

array([[ 1.    , -0.1043],
       [-0.1043,  1.    ]])

In [50]:
ifp_control_users['variance']

"[{'name': 'Less than 2,000', 'value': 50.0, 'answer_id': 2481}, {'name': 'Between 2,000 and 2,500, inclusive', 'value': 50.0, 'answer_id': 2482}, {'name': 'More than 2,500 but less than 2,900', 'value': 0.0, 'answer_id': 2483}, {'name': 'Between 2,900 and 3,400, inclusive', 'value': 0.0, 'answer_id': 2484}, {'name': 'More than 3,400', 'value': 0.0, 'answer_id': 2485}]"

In [13]:
value1s = []
for k in range(len(ifp_control_users)):
    value_1 = ifp_control_users['forecast'][k][0]['value']
    value1s.append(value_1)

In [14]:
for k in range(len(value1s)):
    value1s[k] = abs(value1s[k] - 20)

In [15]:
value1s

[30.0,
 25.0,
 80.0,
 70.0,
 80.0,
 40.0,
 55.0,
 65.0,
 70.0,
 80.0,
 0.0,
 62.0,
 80.0,
 80.0,
 15.0,
 15.0,
 40.0,
 40.0,
 67.0,
 70.0,
 80.0,
 80.0,
 20.0,
 8.0,
 35.00000000000001,
 55.0,
 53.0,
 80.0,
 60.0,
 80.0,
 5.0,
 0.0,
 10.0,
 20.0,
 20.0,
 40.0,
 60.0,
 65.0,
 75.0,
 79.0,
 79.0,
 80.0,
 80.0,
 21.0,
 21.0,
 21.0,
 20.0,
 20.0,
 20.0,
 17.0,
 17.0,
 17.0,
 18.0,
 18.0,
 18.0,
 18.0,
 18.0,
 18.0,
 18.0,
 18.0,
 19.0,
 37.99999999999999,
 48.0,
 53.0,
 74.0,
 80.0,
 40.0,
 5.0,
 5.999999999999998,
 9.0,
 11.0,
 31.0,
 40.0,
 70.0,
 50.0,
 65.0,
 55.0,
 80.0,
 80.0,
 20.0,
 10.0,
 65.0,
 20.0,
 40.0,
 79.0,
 80.0,
 80.0,
 45.0,
 10.0,
 5.0,
 50.0,
 80.0,
 79.0,
 80.0,
 80.0,
 20.0,
 15.0,
 10.0,
 2.0,
 80.0,
 5.0,
 0.0,
 75.0,
 20.0,
 5.0,
 80.0,
 55.0,
 20.0,
 17.0,
 55.0,
 17.0,
 5.0,
 10.0,
 35.00000000000001,
 43.0,
 20.0,
 0.0,
 20.0,
 0.0,
 80.0,
 5.0,
 55.0,
 25.0,
 20.0,
 20.0,
 20.0,
 60.0,
 20.0,
 20.0,
 10.0,
 15.0,
 15.0,
 17.0,
 0.0,
 20.0,
 15.0,
 10.0,
 20.0,
 20.0,
 20.0,
 20.0,
 20.0,
 20.0,
 55.0,
 20.0,
 15.0,
 2.0,
 20.0,
 0.0,
 0.0,
 5.0,
 15.0,
 11.0,
 12.0,
 12.0,
 12.0,
 12.0,
 50.0,
 20.0,
 20.0,
 20.0,
 20.0,
 20.0,
 20.0,
 20.0,
 20.0,
 15.0,
 20.0,
 20.0,
 20.0,
 0.0,
 0.0,
 55.0,
 45.0,
 20.0,
 20.0,
 20.0,
 20.0,
 20.0,
 10.0,
 15.0,
 20.0,
 35.00000000000001,
 20.0,
 40.0,
 40.0,
 5.0,
 50.0,
 40.0,
 30.0,
 30.0,
 25.0,
 25.0,
 30.0,
 25.0,
 20.0,
 11.0,
 18.0,
 14.0,
 7.0,
 1.0,
 1.0,
 0.0,
 0.0,
 6.0,
 6.0,
 6.0,
 6.0,
 6.0,
 6.0,
 6.0,
 8.0,
 8.0,
 8.0,
 11.0,
 15.0,
 15.0,
 15.0,
 15.0,
 11.0,
 15.0,
 15.0,
 12.0,
 12.0,
 12.0,
 14.0,
 14.0,
 11.0,
 11.0,
 11.0,
 11.0,
 11.0,
 11.0,
 12.0,
 10.0,
 10.0,
 10.0,
 10.0,
 55.0,
 10.0,
 20.0,
 20.0,
 20.0,
 55.0,
 54.0,
 46.0,
 36.00000000000001,
 20.0,
 11.0,
 10.0,
 18.0,
 15.0,
 20.0,
 20.0,
 20.0,
 30.0,
 45.0,
 20.0,
 5.0,
 17.0,
 20.0,
 20.0,
 15.0,
 20.0,
 20.0,
 20.0,
 20.0,
 20.0,
 25.0,
 20.0,
 15.0,
 20.0,
 35.00000000000001,
 0.0,
 55.0,
 35.00000000000001,
 20.0,
 55.0,
 15.0,
 15.0,
 15.0,
 20.0,
 62.0,
 9.0,
 20.0,
 10.0,
 10.0,
 45.0,
 20.0,
 5.0,
 30.0,
 10.0,
 20.0,
 5.0,
 20.0,
 45.0,
 10.0,
 13.0,
 15.0,
 20.0,
 0.0,
 80.0,
 55.0,
 20.0,
 50.0,
 30.0,
 30.0,
 20.0,
 42.0,
 10.0,
 5.0,
 0.0,
 0.0,
 0.0,
 60.0,
 25.0,
 10.0,
 20.0,
 30.0,
 17.0,
 20.0,
 46.0,
 69.0,
 28.0,
 5.0,
 20.0,
 20.0,
 0.0,
 20.0,
 20.0,
 1.0,
 11.0,
 12.0,
 12.0,
 12.0,
 0.0,
 0.0,
 15.0,
 55.0,
 15.0,
 0.0,
 50.0,
 5.0,
 79.0,
 10.0,
 15.0,
 65.0,
 40.0,
 79.0,
 20.0,
 19.0,
 45.0,
 5.0,
 20.0,
 30.0,
 5.0,
 30.0,
 30.0,
 30.0,
 7.0,
 15.0,
 55.0,
 50.0,
 25.0,
 60.0,
 5.0,
 40.0,
 10.0,
 20.0,
 10.0,
 30.0,
 80.0,
 8.0,
 60.0,
 15.0,
 20.0,
 20.0,
 50.0,
 10.0,
 60.0,
 55.0,
 58.0,
 55.0,
 50.0,
 60.0,
 80.0,
 5.0,
 80.0,
 50.0,
 65.0,
 45.0,
 45.0,
 70.0,
 80.0,
 64.0,
 75.0,
 80.0,
 65.0,
 80.0,
 55.0,
 80.0,
 60.0,
 15.0,
 20.0,
 20.0,
 55.0,
 55.0,
 65.0,
 65.0,
 80.0,
 80.0,
 10.0,
 20.0,
 45.0,
 45.0,
 63.0,
 63.0,
 61.0,
 61.0,
 61.0,
 60.0,
 60.0,
 60.0,
 60.0,
 58.0,
 57.0,
 57.0,
 57.0,
 47.0,
 47.0,
 47.0,
 47.0,
 47.0,
 47.0,
 51.0,
 51.0,
 55.0,
 55.0,
 45.0,
 58.0,
 36.00000000000001,
 48.0,
 53.0,
 70.0,
 55.0,
 50.0,
 55.0,
 80.0,
 60.0,
 80.0,
 53.0,
 35.00000000000001,
 67.0,
 37.99999999999999,
 60.0,
 55.0,
 18.0,
 0.0,
 0.0,
 73.0,
 77.0,
 62.0,
 66.0,
 15.0,
 55.0,
 20.0,
 80.0,
 20.0,
 35.00000000000001,
 80.0,
 45.0,
 55.0,
 40.0,
 45.0,
 20.0,
 50.0,
 55.0,
 35.00000000000001,
 32.0,
 55.0,
 10.0,
 30.0,
 15.0,
 50.0,
 50.0,
 40.0,
 5.0,
 66.0,
 76.0,
 10.0,
 30.0,
 60.0,
 75.0,
 80.0,
 5.0,
 80.0,
 65.0,
 50.0,
 25.0,
 45.0,
 19.0,
 55.0,
 0.0,
 10.0,
 50.0,
 12.0,
 20.0,
 20.0,
 10.0,
 2.0,
 65.0,
 55.0,
 17.0,
 7.0,
 30.0,
 0.0,
 4.0,
 4.0,
 4.0,
 4.0,
 6.0,
 10.0,
 0.0,
 28.0,
 12.0,
 12.0,
 10.0,
 5.0,
 55.0,
 45.0,
 50.0,
 70.0,
 65.0,
 68.0,
 75.0,
 80.0,
 70.0,
 75.0,
 65.0,
 45.0,
 60.0,
 60.0,
 80.0,
 70.0,
 80.0,
 9.0,
 7.0,
 2.0,
 2.0,
 2.0,
 2.0,
 80.0,
 5.0,
 5.0,
 5.0,
 15.0,
 15.0,
 15.0,
 15.0,
 10.0,
 10.0,
 10.0,
 10.0,
 10.0,
 5.0,
 55.0,
 65.0,
 45.0,
 25.0,
 25.0,
 80.0,
 65.0,
 5.0,
 9.0,
 10.0,
 10.0,
 11.0,
 11.0,
 12.0,
 12.0,
 12.0,
 12.0,
 12.0,
 12.0,
 12.0,
 12.0,
 12.0,
 12.0,
 14.0,
 14.0,
 14.0,
 16.0,
 19.0,
 19.0,
 19.0,
 18.0,
 18.0,
 18.0,
 18.0,
 18.0,
 18.0,
 18.0,
 18.0,
 18.0,
 18.0,
 18.0,
 18.0,
 18.0,
 18.0,
 18.0,
 18.0,
 18.0,
 19.0,
 19.0,
 19.0,
 19.0,
 19.0,
 19.0,
 17.0,
 17.0,
 17.0,
 17.0,
 17.0,
 17.0,
 17.0,
 17.0,
 17.0,
 17.0,
 17.0,
 17.0,
 17.0,
 17.0,
 17.0,
 17.0,
 17.0,
 17.0,
 17.0,
 17.0,
 17.0,
 17.0,
 16.0,
 16.0,
 16.0,
 16.0,
 16.0,
 16.0,
 17.0,
 17.0,
 17.0,
 18.0,
 18.0,
 14.0,
 14.0,
 14.0,
 12.0,
 12.0,
 12.0,
 12.0,
 12.0,
 12.0,
 20.0,
 0.0,
 15.0,
 30.0,
 15.0,
 15.0,
 5.0,
 10.0,
 15.0,
 5.0,
 5.0,
 5.0,
 10.0,
 35.00000000000001,
 50.0,
 35.00000000000001,
 50.0,
 55.0,
 65.0,
 77.0,
 44.0,
 55.0,
 60.0,
 70.0,
 80.0,
 15.0,
 70.0,
 65.0,
 15.0,
 20.0,
 20.0,
 80.0,
 10.0,
 55.0,
 20.0,
 15.0,
 0.0,
 0.0,
 15.0,
 72.0,
 13.0,
 12.0,
 20.0,
 10.0,
 20.0,
 10.0,
 2.0,
 45.0,
 10.0,
 15.0,
 15.0,
 30.0,
 10.0,
 10.0,
 5.0,
 34.0,
 5.0,
 10.0,
 3.0,
 10.0,
 55.0,
 19.0,
 5.0,
 5.0,
 75.0,
 0.0,
 12.0,
 15.0,
 0.0,
 10.0,
 2.0,
 10.0,
 0.0,
 8.000000000000004,
 15.0,
 10.0,
 79.0,
 20.0,
 20.0,
 20.0,
 16.0,
 10.0,
 80.0,
 15.0,
 0.0,
 5.0,
 10.0,
 15.0,
 15.0,
 5.0,
 20.0,
 5.0,
 46.0,
 20.0,
 20.0,
 15.0,
 20.0,
 20.0,
 10.0,
 10.0,
 20.0,
 20.0,
 12.0,
 15.0,
 20.0,
 5.0,
 10.0,
 40.0,
 15.0,
 15.0,
 16.0,
 0.0,
 0.0,
 5.0,
 19.0,
 10.0,
 18.0,
 18.0,
 25.0,
 5.0,
 5.0,
 11.0,
 11.0,
 15.0,
 20.0,
 0.0,
 20.0,
 20.0,
 20.0,
 15.0,
 5.0,
 20.0,
 10.0,
 15.0,
 10.0,
 10.0,
 0.0,
 5.0,
 20.0,
 55.0,
 70.0,
 5.0,
 5.0,
 25.0,
 2.0,
 0.0,
 55.0,
 66.0,
 10.0,
 15.0,
 70.0,
 50.0,
 5.0,
 10.0,
 0.0,
 15.0,
 20.0,
 35.00000000000001,
 5.0,
 15.0,
 10.0,
 10.0,
 10.0,
 20.0,
 5.0,
 0.0,
 7.0,
 10.0,
 5.0,
 10.0,
 0.0,
 1.0,
 15.0,
 79.0,
 10.0,
 5.0,
 0.0,
 5.0,
 5.0,
 79.0,
 19.0,
 30.0,
 55.0,
 12.0,
 5.0,
 10.0,
 10.0,
 10.0,
 0.0,
 15.0,
 15.0,
 10.0,
 11.0,
 3.0,
 15.0,
 10.0,
 55.0,
 12.0,
 50.0,
 10.0,
 40.0,
 42.0,
 20.0,
 12.0,
 45.0,
 5.0,
 57.0,
 30.0,
 5.0,
 15.0,
 15.0,
 0.0,
 0.0,
 40.0,
 15.0,
 15.0,
 10.0,
 40.0,
 40.0,
 55.0,
 30.0,
 10.0,
 15.0,
 15.0,
 10.0,
 13.0,
 30.0,
 8.000000000000004,
 40.0,
 30.0,
 5.0,
 0.0,
 25.0,
 15.0,
 20.0,
 5.0,
 60.0,
 19.0,
 10.0,
 0.0,
 15.0,
 15.0,
 15.0,
 30.0,
 12.0,
 15.0,
 70.0,
 15.0,
 18.0,
 5.0,
 15.0,
 5.0,
 10.0,
 17.0,
 19.0,
 5.0,
 20.0,
 0.0,
 0.0,
 20.0,
 20.0,
 13.0,
 20.0,
 20.0,
 5.0,
 20.0,
 20.0,
 15.0,
 17.0,
 20.0,
 20.0,
 20.0,
 20.0,
 20.0,
 20.0,
 20.0,
 12.0,
 18.0,
 19.0,
 15.0,
 20.0,
 20.0,
 20.0,
 15.0,
 20.0,
 20.0,
 18.0,
 18.0,
 19.0,
 19.0,
 19.0,
 19.0,
 19.0,
 19.0,
 19.0,
 19.0,
 19.0,
 19.0,
 20.0,
 19.0,
 19.0,
 5.0,
 17.0,
 13.0,
 13.0,
 13.0,
 19.0,
 19.0,
 19.0,
 19.0,
 19.0,
 19.0,
 20.0,
 20.0,
 20.0,
 20.0,
 5.0,
 5.0,
 5.0,
 15.0,
 5.0,
 20.0,
 15.0,
 14.0,
 20.0,
 10.0,
 5.0,
 20.0,
 20.0,
 10.0,
 10.0,
 10.0,
 15.0,
 15.0,
 15.0,
 15.0,
 15.0,
 20.0,
 80.0,
 20.0,
 ...]

In [9]:
values = pd.DataFrame({'Value1s': value1s})

In [92]:
ifp_control_users.drop('value_1')

ValueError: labels ['value_1'] not contained in axis

In [91]:
ifp_control_users.join(values)

,index,Unnamed: 0,Unnamed: 0.1,auto,confidence,created_at,downvotes,forecast,question_id,rationale,team_id,upvotes,user_id,wager,timestamp,turk_user,id,resolved?,type,ground_truth,answers,ifp_opens_at,ifp_closes_at,ifp_resolves_at,value_1,Value1s
0,632,632,281976,NaN,50,2018-04-12T16:15:46.290Z,NaN,"[{'name': 'Less than 2,000', 'value': 50.0, 'a...",822,NaN,1000,NaN,9001,0,2018-04-12T16:15:46.290Z,False,822,True,5,1.0,"[{'ended?': True, 'probability': 1.0, 'questio...",2018-03-07,2018-04-30,2018-05-08,50.0,50.0
1,633,633,290028,NaN,50,2018-04-08T00:11:35.929Z,NaN,"[{'name': 'Less than 2,000', 'value': 45.0, 'a...",822,NaN,1000,NaN,9003,0,2018-04-08T00:11:35.929Z,False,822,True,5,1.0,"[{'ended?': True, 'probability': 1.0, 'questio...",2018-03-07,2018-04-30,2018-05-08,50.0,45.0
2,634,634,282576,NaN,50,2018-04-23T20:55:49.287Z,NaN,"[{'name': 'Less than 2,000', 'value': 100.0, '...",822,NaN,1000,NaN,9003,0,2018-04-23T20:55:49.287Z,False,822,True,5,1.0,"[{'ended?': True, 'probability': 1.0, 'questio...",2018-03-07,2018-04-30,2018-05-08,50.0,100.0
3,635,635,290309,NaN,50,2018-04-10T16:44:40.090Z,NaN,"[{'name': 'Less than 2,000', 'value': 90.0, 'a...",822,NaN,1000,NaN,9007,0,2018-04-10T16:44:40.090Z,False,822,True,5,1.0,"[{'ended?': True, 'probability': 1.0, 'questio...",2018-03-07,2018-04-30,2018-05-08,50.0,90.0
4,636,636,281166,NaN,50,2018-04-17T09:41:00.606Z,NaN,"[{'name': 'Less than 2,000', 'value': 100.0, '...",822,NaN,1000,NaN,9007,0,2018-04-17T09:41:00.606Z,False,822,True,5,1.0,"[{'ended?': True, 'probability': 1.0, 'questio...",2018-03-07,2018-04-30,2018-05-08,50.0,100.0
5,637,637,285631,NaN,50,2018-03-12T10:46:15.713Z,NaN,"[{'name': 'Less than 2,000', 'value': 60.0, 'a...",822,NaN,1000,NaN,9013,0,2018-03-12T10:46:15.713Z,False,822,True,5,1.0,"[{'ended?': True, 'probability': 1.0, 'questio...",2018-03-07,2018-04-30,2018-05-08,50.0,60.0
6,638,638,288288,NaN,50,2018-03-28T22:04:45.647Z,NaN,"[{'name': 'Less than 2,000', 'value': 75.0, 'a...",822,NaN,1000,NaN,9013,0,2018-03-28T22:04:45.647Z,False,822,True,5,1.0,"[{'ended?': True, 'probability': 1.0, 'questio...",2018-03-07,2018-04-30,2018-05-08,50.0,75.0
7,639,639,288280,NaN,50,2018-03-28T22:25:51.585Z,NaN,"[{'name': 'Less than 2,000', 'value': 85.0, 'a...",822,Dozens of women mobilize in southern Afghanist...,1000,NaN,9013,0,2018-03-28T22:25:51.585Z,False,822,True,5,1.0,"[{'ended?': True, 'probability': 1.0, 'questio...",2018-03-07,2018-04-30,2018-05-08,50.0,85.0
8,640,640,290269,NaN,50,2018-04-10T21:33:10.591Z,NaN,"[{'name': 'Less than 2,000', 'value': 90.0, 'a...",822,NaN,1000,NaN,9013,0,2018-04-10T21:33:10.591Z,False,822,True,5,1.0,"[{'ended?': True, 'probability': 1.0, 'questio...",2018-03-07,2018-04-30,2018-05-08,50.0,90.0
9,641,641,283101,NaN,50,2018-04-27T10:25:28.014Z,NaN,"[{'name': 'Less than 2,000', 'value': 100.0, '...",822,NaN,1000,NaN,9013,0,2018-04-27T10:25:28.014Z,False,822,True,5,1.0,"[{'ended?': True, 'probability': 1.0, 'questio...",2018-03-07,2018-04-30,2018-05-08,50.0,100.0
10,642,642,287756,NaN,50,2018-03-24T07:03:24.933Z,NaN,"[{'name': 'Less than 2,000', 'value': 20.0, 'a...",822,NaN,1000,NaN,9014,0,2018-03-24T07:03:24.933Z,False,822,True,5,1.0,"[{'ended?': True, 'probability': 1.0, 'questio...",2018-03-07,2018-04-30,2018-05-08,50.0,20.0
11,643,643,281404,NaN,50,2018-04-16T06:02:56.901Z,NaN,"[{'name': 'Less than 2,000', 'value': 82.0, 'a...",822,NaN,1000,NaN,9014,0,2018-04-16T06:02:56.901Z,False,822,True,5,1.0,"[{'ended?': True, 'probability': 1.0, 'questio...",2018-03-07,2018-04-30,2018-05-08,50.0,82.0
12,644,644,282612,NaN,50,2018-04-23T15:41:31.182Z,NaN,"[{'name': 'Less than 2,000', 'value': 100.0, '...",822,NaN,1000,NaN,9014,0,2018-04-23T15:41:31.182Z,False,822,True,5,1.0,"[{'ended?': True, 'probability': 1.0, 'questio...",2018-03-07,2018-04-30,2018-05-08,50.0,100.0
13,645,645,284813,NaN,50,2018-03-08T05:21:12.747Z,NaN,"[{'name': 'Less than 2,000', 'value': 100.0, '...",822,NaN,1000,NaN,9016,0,2018-03-08T05:21:12.747Z,False,822,True,5,1.0,"[{'ended?': True, 'probability': 1.0, 'questio...",2018-03-07,2018-04-30,2018-05-08,50.0,100.0
14,646,646,286035,NaN,50,2018-03-14T02:33:09.584Z,NaN,"[{'name': 'Less than 2,000', 'value': 5.0, 'an...",822,NaN,1000,NaN,9017,0,2018-03-14T02:33:09.584Z,False,822,True,5,1.0,"[{'ended?': True, 'probability': 1.0, 'questio...",2018-03-07,2018-04-30,2018-05-08,50.0,5.0
15,647,647,286477,NaN,50,2018-03-16T07:44:57.478Z,NaN,"[{'name': 'Less than 2,000', 'value': 5.0, 'an...",822,NaN,1000,NaN,9017,0,2018-03-16T07:44:57.478Z,False,822,True,5,1.0,"[{'ended?': True, 'probability': 1.0, 'questio...",2018-03-07,2018-04-30,2018-05-08,50.0,5.0
16,648,648,287686,NaN,50,2018-03-23T08:16:24.103Z,NaN,"[{'name': 'Less than 2,000', 'value': 60.0, 'a...",822,NaN,1000,NaN,9017,0,2018-03-23T08:16:24.103Z,False,822,True,5,1.0,"[{'ended?': True, 'probability': 1.0, 'questio...",2018-03-07,2018-04-30,2018-05-08,50.0,60.0
17,649,649,290214,NaN,50,2018-04-09T08:58:00.723Z,NaN,"[{'name': 'Less than 2,000', 'value': 60.0, 'a...",822,NaN,1000,NaN,9017,0,2018-04-09T08:58:00.723Z,False,822,True,5,1.0,"[{'ended?': True, 'probability': 1.0, 'questio...",2018-03-07,2018-04-30,2018-05-08,50.0,60.0
18,650,650,290652,NaN,50,2018-04-11T08:34:54.779Z,NaN,"[{'name': 'Less than 2,000', 'value': 87.0, 'a...",822,NaN,1000,NaN,9017,0,2018-04-11T08:34:54.779Z,False,822,True,5,1.0,"[{'ended?': True, 'probability': 1.0, 'questio...",2018-03-07,2018-04-30,2018-05-08,50.0,87.0
19,651,651,281788,NaN,50,2018-04-13T04:28:34.084Z,NaN,"[{'name': 'Less than 2,000', 'value': 90.0, 'a...",822,NaN,1000,NaN,9017,0,2018-04-13T04:28:34.084Z,False,822,True,5,1.0,"[{'ended?': True, 'probability': 1.0, 'questio...",2018-03-07,2018-04-30,2018-05-08,50.0,90.0
20,652,652,281021,NaN,50,2018-04-18T05:44:23.095Z,NaN,"[{'name': 'Less than 2,000', 'value': 100.0, '...",822,NaN,1000,NaN,9017,0,2018-04-18T05:44:23.095Z,False,822,True,5,1.0,"[{'ended?': True, 'probability': 1.0, 'questio...",2018-03-07,2018-04-30,2018-05-08,50.0,100.0
21,653,653,281865,NaN,50,2018-04-12T21:13:52.071Z,NaN,"[{'name': 'Less than 2,000', 'value': 100.0, '...",822,NaN,1000,NaN,9020,0,2018-04-12T21:13:52.071Z,False,822,True,5,1.0,"[{'ended?': True, 'probability': 1.0, 'questio...",2018-03-07,2018-04-30,2018-05-08,50.0,100.0
22,654,654,286756,NaN,50,2018-03-18T15:56:55.394Z,NaN,"[{'name': 'Less than 2,000', 'value': 40.0, 'a...",822,NaN,1000,NaN,9028,0,2018-03-18T15:56:55.394Z,False,822,True,5,1.0,"[{'ended?': True, 'probability': 1.0, 'questio...",2018-03-07,2018-04-30,2018-05-08,50.0,40.0
23,655,655,286777,NaN,50,2018-03-18T14:08:17.968Z,NaN,"[{'name': 'Less than 2,000', 'value': 12.0, 'a...",822,With the Taliban in the ascendancy and the lik...,1000,NaN,9030,0,2018-03-18T14:08:17.968Z,False,822,True,5,1.0,"[{'ended?': True, 'probability': 1.0, 'questio...",2018-03-07,2018-04-30,2018-05-08,50.0,12.0
24,656,656,289318,NaN,50,2018-04-04T15:44:49.978Z,NaN,"[{'name': 'Less than 2,000', 'value': 55.00000...",822,NaN,1000,NaN,9030,0,2018-04-04T15:44:49.978Z,False,822,True,5,1.0,"[{'ended?': True, 'probability': 1.0, 'questio...",2018-03-07,2018-04-30,2018-05-08,50.0,55.0
25,657,657,282002,NaN,50,2018-04-12T13:55:44.436Z,NaN,"[{'name': 'Less than 2,000', 'value': 75.0, 'a...",822,NaN,1000,NaN,9030,0,2018-04-12T13:55:44.436Z,False,822,True,5,1.0,"[{'ended?': True, 'probability': 1.0, 'questio...",2018-03-07,2018-04-30,2018-05-08,50.0,75.0
26,658,658,281323,NaN,50,2018-04-16T12:31:24.896Z,NaN,"[{'name': 'Less than 2,000', 'value': 73.0, 'a...",822,NaN,1000,NaN,9030,0,2018-04-16T12:31:24.896Z,False,822,True,5,1.0,"[{'ended?': True, 'probability': 1.0, 'questio...",2018-03-07,2018-04-30,2018-05-08,50.0,73.0
27,659,659,281207,NaN,50,2018-04-16T20:20:14.798Z,NaN,"[{'name': 'Less than 2,000', 'value': 100.0, '...",822,NaN,1000,NaN,9030,0,2018-04-16T20:20:14.798Z,False,822,True,5,1.0,"[{'ended?': True, 'probability': 1.0, 'questio...",2018-03-07,2018-04-30,2018-05-08,50.0,100.0
28,660,660,289133,NaN,50,2018-04-03T01:14:34.372Z,NaN,"[{'name': 'Less than 2,000', 'value': 80.0, 'a...",822,NaN,1000,NaN,9032,0,2018-04-03T01:14:34.372Z,False,822,True,5,1.0,"[{'ended?': True, 'probability': 1.0, 'questio...",2018-03-07,2018-04-30,2018-05-08,50.0,80.0
29,661,661,283378,NaN,50,2018-04-30T02:46:14.087Z,NaN,"[{'name': 'Less than 2,000', 'value': 100.0, '...",822,NaN,1000,NaN,9032,0,2018-04-30T02:46:14.087Z,False,822,True,5,1.0,"[{'ended?': True, 'probability': 1.0, 'questio...",2018-03-07,2018-04-30,2018-05-08,50.0,100.0
30,662,662,287848,NaN,50,2018-03-25T14:28:59.764Z,NaN,"[{'name': 'Less than 2,000', 'value': 25.0, 'a...",822,NaN,1000,NaN,9034,0,2018-03-25T14:28:59.764Z,False,822,True,5,1.0,"[{'ended?': True, 'probability': 1.0, 'questio...",2018-03-07,2018-04-30,2018-05-08,50.0,25.0
31,663,663,285122,NaN,50,2018-03-09T02:53:39.111Z,NaN,"[{'name': 'Less than 2,000', 'value': 20.0, 'a...",822,NaN,1000,NaN,9038,0,2018-03-09T02:53:39.111Z,False,822,True,5,1.0,"[{'ended?': True, 'probability': 1.0, 'questio...",2018-03-07,2018-04-30,2018-05-08,50.0,20.0
32,664,664,285190,NaN,50,2018-03-10T21:47:58.590Z,NaN,"[{'name': 'Less than 2,000', 'value': 30.0, 'a...",822,NaN,1000,NaN,9038,0,2018-03-10T21:47:58.590Z,False,822,True,5,1.0,"[{'ended?': True, 'probability': 1.0, 'questio...",2018-03-07,2018-04-30,2018-05-08,50.0,30.0
33,665,665,286636,NaN,50,2018-03-17T12:21:31.914Z,NaN,"[{'name': 'Less than 2,000', 'value': 40.0, 'a...",822,NaN,1000,NaN,9038,0,2018-03-17T12:21:31.914Z,False,822,True,5,1.0,"[{'ended?': True, 'probability': 1.0, 'questio...",2018-03-07,2018-04-30,2018-05-08,50.0,40.0
34,666,666,288061,NaN,50,2018-03-27T21:28:12.873Z,NaN,"[{'name': 'Less than 2,000', 'value': 40.0, 'a...",822,NaN,1000,NaN,9038,0,2018-03-27T21:28:12.873Z,False,822,True,5,1.0,"[{'ended?': True, 'probability': 1.0, 'questio...",2018-03-07,2018-04-30,2018-05-08,50.0,40.0
35,667,667,289027,NaN,50,2018-04-02T12:38:19.112Z,NaN,"[{'name': 'Less than 2,000', 'value': 60.0, 'a...",822,NaN,1000,NaN,9038,0,2018-04-02T12:38:19.112Z,False,822,True,5,1.0,"[{'ended?': True, 'probability': 1.0, 'questio...",2018-03-07,2018-04-30,2018-05-08,50.0,60.0
36,668,668,289717,NaN,50,2018-04-07T17:48:03.121Z,NaN,"[{'name': 'Less than 2,000', 'value': 80.0, 'a...",822,NaN,1000,NaN,9038,0,2018-04-07T17:48:03.121Z,False,822,True,5,1.0,"[{'ended?': True, 'probability': 1.0, 'questio...",2018-03-07,2018-04-30,2018-05-08,50.0,80.0
37,669,669,290255,NaN,50,2018-04-10T23:30:14.084Z,NaN,"[{'name': 'Less than 2,000', 'value': 85.0, 'a...",822,NaN,1000,NaN,9038,0,2018-04-10T23:30:14.084Z,False,822,True,5,1.0,"[{'ended?': True, 'probability': 1.0, 'questio...",2018-03-07,2018-04-30,2018-05-08,50.0,85.0
38,670,670,281545,NaN,50,2018-04-14T19:15:17.059Z,NaN,"[{'name': 'Less than 2,000', 'value': 95.0, 'a...",822,NaN,1000,NaN,9038,0,2018-04-14T19:15:17.059Z,False,822,True,5,1.0,"[{'ended?': True, 'probability': 1.0, 'questio...",2018-03-07,2018-04-30,2018-05-08,50.0,95.0
39,671,671,282177,NaN,50,2018-04-21T00:27:48.070Z,NaN,"[{'name': 'Less than 2,000', 'value': 99.0, 'a...",822,NaN,1000,NaN,9038,0,2018-04-21T00:27:48.070Z,False,822,True,5,1.0,"[{'ended?': True, 'probability': 1.0, 'questio...",2018-03-07,2018-04-30,2018-05-08,50.0,99.0
40,672,672,282672,NaN,50,2018-04-25T01:59:46.038Z,NaN,"[{'name': 'Less than 2,000', 'value': 99.0, 'a...",822,NaN,1000,NaN,9038,0,2018-04-25T01:59:46.038Z,False,822,True,5,1.0,"[{'ended?': True, 'probability': 1.0, 'questio...",2018-03-07,2018-04-30,2018-05-08,50.0,99.0
41,673,673,283354,NaN,50,2018-04-30T10:14:50.523Z,NaN,"[{'name': 'Less than 2,000', 'value': 100.0, '...",822,NaN,1000,NaN,9038,0,2018-04-30T10:14:50.523Z,False,822,True,5,1.0,"[{'ended?': True, 'probability': 1.0, 'questio...",2018-03-07,2018-04-30,2018-05-08,50.0,100.0
42,674,674,282640,NaN,50,2018-04-23T12:34:19.626Z,NaN,"[{'name': 'Less than 2,000', 'value': 100.0, '...",822,NaN,1000,NaN,9039,0,2018-04-23T12:34:19.626Z,False,822,True,5,1.0,"[{'ended?': True, 'probability': 1.0, 'questio...",2018-03-07,2018-04-30,2018-05-08,50.0,100.0
43,675,675,284929,NaN,50,2018-03-09T23:05:36.495Z,NaN,"[{'name': 'Less than 2,000', 'value': 41.0, 'a...",822,NaN,1000,NaN,9041,0,2018-03-09T23:05:36.495Z,False,822,True,5,1.0,"[{'ended?': True, 'probability': 1.0, 'questio...",2018-03-07,2018-04-30,2018-05-08,50.0,41.0
44,676,676,285477,NaN,50,2018-03-11T12:31:25.635Z,NaN,"[{'name': 'Less than 2,000', 'value': 41.0, 'a...",822,NaN,1000,NaN,9041,0,2018-03-11T12:31:25.635Z,False,822,True,5,1.0,"[{'ended?': True, 'probability': 1.0, 'questio...",2018-03-07,2018-04-30,2018-05-08,50.0,41.0
45,677,677,285971,NaN,50,2018-03-14T11:36:05.631Z,NaN,"[{'name': 'Less than 2,000', 'value': 41.0, 'a...",822,NaN,1000,NaN,9041,0,2018-03-14T11:36:05.631Z,False,822,True,5,1.0,"[{'ended?': True, 'probability': 1.0, 'questio...",2018-03-07,2018-04-30,2018-05-08,50.0,41.0
46,678,678,286802,NaN,50,2018-03-18T11:56:00.284Z,NaN,"[{'name': 'Less than 2,000', 'value': 40.0, 'a...",822,NaN,1000,NaN,9041,0,2018-03-18T11:56:00.284Z,False,822,True,5,1.0,"[{'ended?': True, 'probability': 1.0, 'questio...",2018-03-07,2018-04-30,2018-05-08,50.0,40.0
47,679,679,286936,NaN,50,2018-03-19T13:55:22.222Z,NaN,"[{'name': 'Less than 2,000', 'value': 40.0, 'a...",822,NaN,1000,NaN,9041,0,2018-03-19T13:55:22.222Z,False,822,True,5,1.0,"[{'ended?': True, 'probability': 1.0, 'questio...",2018-03-07,2018-04-30,2018-05-08,50.0,40.0
48,680,680,287354,NaN,50,2018-03-21T12:09:12.323Z,NaN,"[{'name': 'Less than 2,000', 'value': 40.0, 'a...",822,NaN,1000,NaN,9041,0,2018-03-21T12:09:12.323Z,False,822,True,5,1.0,"[{'ended?': True, 'probability': 1.0, 'questio...",2018-03-07,2018-04-30,2018-05-08,50.0,40.0
49,681,681,287426,NaN,50,2018-03-22T20:44:04.881Z,NaN,"[{'name': 'Less than 2,000', 'value': 37.0, 'a...",822,NaN,1000,NaN,9041,0,2018-03-22T20:44:04.881Z,False,822,True,5,1.0,"[{'ended?': True, 'probability': 1.0, 'questio...",2018-03-07,2018-04-30,2018-05-08,50.0,37.0
50,682,682,287971,NaN,50,2018-03-26T12:28:50.719Z,NaN,"[{'name': 'Less than 2,000', 'value': 37.0, 'a...",822,NaN,1000,NaN,9041,0,2018-03-26T12:28:50.719Z,False,822,True,5,1.0,"[{'ended?': True, 'probability': 1.0, 'questio...",2018-03-07,2018-04-30,2018-05-08,50.0,37.0
51,683,683,288099,NaN,50,2018-03-27T21:18:52.172Z,NaN,"[{'name': 'Less than 2,000', 'value': 37.0, 'a...",822,NaN,1000,NaN,9041,0,2018-03-27T21:18:52.172Z,False,822,True,5,1.0,"[{'ended?': True, 'probability': 1.0, 'questio...",2018-03-07,2018-04-30,2018-05-08,50.0,37.0
52,684,684,288704,NaN,50,2018-03-30T14:35:35.745Z,NaN,"[{'name': 'Less than 2,000', 'value': 38.0, 'a...",822,NaN,1000,NaN,9041,0,2018-03-30T14:35:35.745Z,False,822,True,5,1.0,"[{'ended?': True, 'probability': 1.0, 'questio...",2018-03-07,2018-04-30,2018-05-08,50.0,38.0
53,685,685,288912,NaN,50,2018-04-01T16:32:12.179Z,NaN,"[{'name': 'Less than 2,000', 'value': 38.0, 'a...",822,NaN,1000,NaN,9041,0,2018-04-01T16:32:12.179Z,False,822,True,5,1.0,"[{'ended?': True, 'probability': 1.0, 'questio...",2018-03-07,2018-04-30,2018-05-08,50.0,38.0
54,686,686,289014,NaN,50,2018-04-02T14:47:18.903Z,NaN,"[{'name': 'Less than 2,000', 'value': 38.0, 'a...",822,NaN,1000,NaN,9041,0,2018-04-02T14:47:18.903Z,False,822,True,5,1.0,"[{'ended?': True, 'probability': 1.0, 'questio...",2018-03-07,2018-04-30,2018-05-08,50.0,38.0
55,687,687,289465,NaN,50,2018-04-05T17:54:11.770Z,NaN,"[{'name': 'Less than 2,000', 'value': 38.0, 'a...",822,NaN,1000,NaN,9041,0,2018-04-05T17:54:11.770Z,False,822,True,5,1.0,"[{'ended?': True, 'probability': 1.0, 'questio...",2018-03-07,2018-04-30,2018-05-08,50.0,38.0
56,688,688,289616,NaN,50,2018-04-06T12:45:49.500Z,NaN,"[{'name': 'Less than 2,000', 'value': 38.0, 'a...",822,NaN,1000,NaN,9041,0,2018-04-06T12:45:49.500Z,False,822,True,5,1.0,"[{'ended?': True, 'probability': 1.0, 'questio...",2018-03-07,2018-04-30,2018-05-08,50.0,38.0
57,689,689,289877,NaN,50,2018-04-08T22:11:05.945Z,NaN,"[{'name': 'Less than 2,000', 'value': 38.0, 'a...",822,NaN,1000,NaN,9041,0,2018-04-08T22:11:05.945Z,False,822,True,5,1.0,"[{'ended?': True, 'probability': 1.0, 'questio...",2018-03-07,2018-04-30,2018-05-08,50.0,38.0
58,690,690,290177,NaN,50,2018-04-09T11:48:19.059Z,NaN,"[{'name': 'Less than 2,000', 'value': 38.0, 'a...",822,NaN,1000,NaN,9041,0,2018-04-09T11:48:19.059Z,False,822,True,5,1.0,"[{'ended?': True, 'probability': 1.0, 'questio...",2018-03-07,2018-04-30,2018-05-08,50.0,38.0
59,691,691,290606,NaN,50,2018-04-11T13:05:03.177Z,NaN,"[{'name': 'Less than 2,000', 'value': 38.0, 'a...",822,NaN,1000,NaN,9041,0,2018-04-11T13:05:03.177Z,False,822,True,5,1.0,"[{'ended?': True, 'probability': 1.0, 'questio...",2018-03-07,2018-04-30,2018-05-08,50.0,38.0
60,692,692,282020,NaN,50,2018-04-12T12:53:09.794Z,NaN,"[{'name': 'Less than 2,000', 'value': 39.0, 'a...",822,NaN,1000,NaN,9041,0,2018-04-12T12:53:09.794Z,False,822,True,5,1.0,"[{'ended?': True, 'probability': 1.0, 'questio...",2018-03-07,2018-04-30,2018-05-08,50.0,39.0
61,693,693,281293,NaN,50,2018-04-16T15:13:01.176Z,NaN,"[{'name': 'Less than 2,000', 'value': 57.99999...",822,NaN,1000,NaN,9041,0,2018-04-16T15:13:01.176Z,False,822,True,5,1.0,"[{'ended?': True, 'probability': 1.0, 'questio...",2018-03-07,2018-04-30,2018-05-08,50.0,58.0
62,694,694,281152,NaN,50,2018-04-17T12:04:01.134Z,NaN,"[{'name': 'Less than 2,000', 'value': 68.0, 'a...",822,NaN,1000,NaN,9041,0,2018-04-17T12:04:01.134Z,False,822,True,5,1.0,"[{'ended?': True, 'probability': 1.0, 'questio...",2018-03-07,2018-04-30,2018-05-08,50.0,68.0
63,695,695,280706,NaN,50,2018-04-19T12:26:17.101Z,NaN,"[{'name': 'Less than 2,000', 'value': 73.0, 'a...",822,NaN,1000,NaN,9041,0,2018-04-19T12:26:17.101Z,False,822,True,5,1.0,"[{'ended?': True, 'probability': 1.0, 'questio...",2018-03-07,2018-04-30,2018-05-08,50.0,73.0
64,696,696,283075,NaN,50,2018-04-25T14:26:28.764Z,NaN,"[{'name': 'Less than 2,000', 'value': 94.0, 'a...",822,NaN,1000,NaN,9041,0,2018-04-25T14:26:28.764Z,False,822,True,5,1.0,"[{'ended?': True, 'probability': 1.0, 'questio...",2018-03-07,2018-04-30,2018-05-08,50.0,94.0
65,697,697,286534,NaN,50,2018-03-17T23:10:52.406Z,NaN,"[{'name': 'Less than 2,000', 'value': 100.0, '...",822,NaN,1000,NaN,9043,0,2018-03-17T23:10:52.406Z,False,822,True,5,1.0,"[{'ended?': True, 'probability': 1.0, 'questio...",2018-03-07,2018-04-30,2018-05-08,50.0,100.0
66,698,698,285364,NaN,50,2018-03-11T19:44:12.089Z,NaN,"[{'name': 'Less than 2,000', 'value': 60.0, 'a...",822,NaN,1000,NaN,9045,0,2018-03-11T19:44:12.089Z,False,822,True,5,1.0,"[{'ended?': True, 'probability': 1.0, 'questio...",2018-03-07,2018-04-30,2018-05-08,50.0,60.0
67,699,699,286222,NaN,50,2018-03-15T05:12:32.456Z,NaN,"[{'name': 'Less than 2,000', 'value': 15.0, 'a...",822,The increasing trend is a new spring offensive...,1000,NaN,9046,0,2018-03-15T05:12:32.456Z,False,822,True,5,1.0,"[{'ended?': True, 'probability': 1.0, 'questio...",2018-03-07,2018-04-30,2018-05-08,50.0,15.0
68,700,700,284393,NaN,50,2018-03-07T21:25:44.245Z,NaN,"[{'name': 'Less than 2,000', 'value': 14.00000...",822,NaN,1000,NaN,9052,0,2018-03-07T21:25:44.245Z,False,822,True,5,1.0,"[{'ended?': True, 'probability': 1.0, 'questio...",2018-03-07,2018-04-30,2018-05-08,50.0,14.0
69,701,701,284765,NaN,50,2018-03-08T10:31:32.594Z,NaN,"[{'name': 'Less than 2,000', 'value': 11.0, 'a...",822,NaN,1000,NaN,9052,0,2018-03-08T10:31:32.594Z,False,822,True,5,1.0,"[{'ended?': True, 'probability': 1.0, 'questio...",2018-03-07,2018-04-30,2018-05-08,50.0,11.0
70,702,702,285773,NaN,50,2018-03-13T09:05:07.230Z,NaN,"[{'name': 'Less than 2,000', 'value': 31.0, 'a...",822,NaN,1000,NaN,9052,0,2018-03-13T09:05:07.230Z,False,822,True,5,1.0,"[{'ended?': True, 'probability': 1.0, 'questio...",2018-03-07,2018-04-30,2018-05-08,50.0,31.0
71,703,703,287146,NaN,50,2018-03-20T08:59:45.136Z,NaN,"[{'name': 'Less than 2,000', 'value': 51.0, 'a...",822,NaN,1000,NaN,9052,0,2018-03-20T08:59:45.136Z,False,822,True,5,1.0,"[{'ended?': True, 'probability': 1.0, 'questio...",2018-03-07,2018-04-30,2018-05-08,50.0,51.0

In [68]:
fcasts['value_1'] = fcasts['forecast'][0][0]['value']

In [76]:
fcasts[fcasts['user_id'] > 9000]

,index,auto,confidence,created_at,downvotes,forecast,question_id,rationale,team_id,upvotes,user_id,wager,value_1
632,281976,NaN,50,2018-04-12T16:15:46.290Z,NaN,"[{'name': 'Less than 2,000', 'value': 50.0, 'a...",822,,1000,NaN,9001,0,99.999229
633,290028,NaN,50,2018-04-08T00:11:35.929Z,NaN,"[{'name': 'Less than 2,000', 'value': 45.0, 'a...",822,,1000,NaN,9003,0,99.999229
634,282576,NaN,50,2018-04-23T20:55:49.287Z,NaN,"[{'name': 'Less than 2,000', 'value': 100.0, '...",822,,1000,NaN,9003,0,99.999229
635,290309,NaN,50,2018-04-10T16:44:40.090Z,NaN,"[{'name': 'Less than 2,000', 'value': 90.0, 'a...",822,,1000,NaN,9007,0,99.999229
636,281166,NaN,50,2018-04-17T09:41:00.606Z,NaN,"[{'name': 'Less than 2,000', 'value': 100.0, '...",822,,1000,NaN,9007,0,99.999229
637,285631,NaN,50,2018-03-12T10:46:15.713Z,NaN,"[{'name': 'Less than 2,000', 'value': 60.0, 'a...",822,,1000,NaN,9013,0,99.999229
638,288288,NaN,50,2018-03-28T22:04:45.647Z,NaN,"[{'name': 'Less than 2,000', 'value': 75.0, 'a...",822,,1000,NaN,9013,0,99.999229
639,288280,NaN,50,2018-03-28T22:25:51.585Z,NaN,"[{'name': 'Less than 2,000', 'value': 85.0, 'a...",822,Dozens of women mobilize in southern Afghanist...,1000,NaN,9013,0,99.999229
640,290269,NaN,50,2018-04-10T21:33:10.591Z,NaN,"[{'name': 'Less than 2,000', 'value': 90.0, 'a...",822,,1000,NaN,9013,0,99.999229
641,283101,NaN,50,2018-04-27T10:25:28.014Z,NaN,"[{'name': 'Less than 2,000', 'value': 100.0, '...",822,,1000,NaN,9013,0,99.999229
642,287756,NaN,50,2018-03-24T07:03:24.933Z,NaN,"[{'name': 'Less than 2,000', 'value': 20.0, 'a...",822,,1000,NaN,9014,0,99.999229
643,281404,NaN,50,2018-04-16T06:02:56.901Z,NaN,"[{'name': 'Less than 2,000', 'value': 82.0, 'a...",822,,1000,NaN,9014,0,99.999229
644,282612,NaN,50,2018-04-23T15:41:31.182Z,NaN,"[{'name': 'Less than 2,000', 'value': 100.0, '...",822,,1000,NaN,9014,0,99.999229
645,284813,NaN,50,2018-03-08T05:21:12.747Z,NaN,"[{'name': 'Less than 2,000', 'value': 100.0, '...",822,,1000,NaN,9016,0,99.999229
646,286035,NaN,50,2018-03-14T02:33:09.584Z,NaN,"[{'name': 'Less than 2,000', 'value': 5.0, 'an...",822,,1000,NaN,9017,0,99.999229
647,286477,NaN,50,2018-03-16T07:44:57.478Z,NaN,"[{'name': 'Less than 2,000', 'value': 5.0, 'an...",822,,1000,NaN,9017,0,99.999229
648,287686,NaN,50,2018-03-23T08:16:24.103Z,NaN,"[{'name': 'Less than 2,000', 'value': 60.0, 'a...",822,,1000,NaN,9017,0,99.999229
649,290214,NaN,50,2018-04-09T08:58:00.723Z,NaN,"[{'name': 'Less than 2,000', 'value': 60.0, 'a...",822,,1000,NaN,9017,0,99.999229
650,290652,NaN,50,2018-04-11T08:34:54.779Z,NaN,"[{'name': 'Less than 2,000', 'value': 87.0, 'a...",822,,1000,NaN,9017,0,99.999229
651,281788,NaN,50,2018-04-13T04:28:34.084Z,NaN,"[{'name': 'Less than 2,000', 'value': 90.0, 'a...",822,,1000,NaN,9017,0,99.999229
652,281021,NaN,50,2018-04-18T05:44:23.095Z,NaN,"[{'name': 'Less than 2,000', 'value': 100.0, '...",822,,1000,NaN,9017,0,99.999229
653,281865,NaN,50,2018-04-12T21:13:52.071Z,NaN,"[{'name': 'Less than 2,000', 'value': 100.0, '...",822,,1000,NaN,9020,0,99.999229
654,286756,NaN,50,2018-03-18T15:56:55.394Z,NaN,"[{'name': 'Less than 2,000', 'value': 40.0, 'a...",822,,1000,NaN,9028,0,99.999229
655,286777,NaN,50,2018-03-18T14:08:17.968Z,NaN,"[{'name': 'Less than 2,000', 'value': 12.0, 'a...",822,With the Taliban in the ascendancy and the lik...,1000,NaN,9030,0,99.999229
656,289318,NaN,50,2018-04-04T15:44:49.978Z,NaN,"[{'name': 'Less than 2,000', 'value': 55.00000...",822,,1000,NaN,9030,0,99.999229
657,282002,NaN,50,2018-04-12T13:55:44.436Z,NaN,"[{'name': 'Less than 2,000', 'value': 75.0, 'a...",822,,1000,NaN,9030,0,99.999229
658,281323,NaN,50,2018-04-16T12:31:24.896Z,NaN,"[{'name': 'Less than 2,000', 'value': 73.0, 'a...",822,,1000,NaN,9030,0,99.999229
659,281207,NaN,50,2018-04-16T20:20:14.798Z,NaN,"[{'name': 'Less than 2,000', 'value': 100.0, '...",822,,1000,NaN,9030,0,99.999229
660,289133,NaN,50,2018-04-03T01:14:34.372Z,NaN,"[{'name': 'Less than 2,000', 'value': 80.0, 'a...",822,,1000,NaN,9032,0,99.999229
661,283378,NaN,50,2018-04-30T02:46:14.087Z,NaN,"[{'name': 'Less than 2,000', 'value': 100.0, '...",822,,1000,NaN,9032,0,99.999229
662,287848,NaN,50,2018-03-25T14:28:59.764Z,NaN,"[{'name': 'Less than 2,000', 'value': 25.0, 'a...",822,,1000,NaN,9034,0,99.999229
663,285122,NaN,50,2018-03-09T02:53:39.111Z,NaN,"[{'name': 'Less than 2,000', 'value': 20.0, 'a...",822,,1000,NaN,9038,0,99.999229
664,285190,NaN,50,2018-03-10T21:47:58.590Z,NaN,"[{'name': 'Less than 2,000', 'value': 30.0, 'a...",822,,1000,NaN,9038,0,99.999229
665,286636,NaN,50,2018-03-17T12:21:31.914Z,NaN,"[{'name': 'Less than 2,000', 'value': 40.0, 'a...",822,,1000,NaN,9038,0,99.999229
666,288061,NaN,50,2018-03-27T21:28:12.873Z,NaN,"[{'name': 'Less than 2,000', 'value': 40.0, 'a...",822,,1000,NaN,9038,0,99.999229
667,289027,NaN,50,2018-04-02T12:38:19.112Z,NaN,"[{'name': 'Less than 2,000', 'value': 60.0, 'a...",822,,1000,NaN,9038,0,99.999229
668,289717,NaN,50,2018-04-07T17:48:03.121Z,NaN,"[{'name': 'Less than 2,000', 'value': 80.0, 'a...",822,,1000,NaN,9038,0,99.999229
669,290255,NaN,50,2018-04-10T23:30:14.084Z,NaN,"[{'name': 'Less than 2,000', 'value': 85.0, 'a...",822,,1000,NaN,9038,0,99.999229
670,281545,NaN,50,2018-04-14T19:15:17.059Z,NaN,"[{'name': 'Less than 2,000', 'value': 95.0, 'a...",822,,1000,NaN,9038,0,99.999229
671,282177,NaN,50,2018-04-21T00:27:48.070Z,NaN,"[{'name': 'Less than 2,000', 'value': 99.0, 'a...",822,,1000,NaN,9038,0,99.999229
672,282672,NaN,50,2018-04-25T01:59:46.038Z,NaN,"[{'name': 'Less than 2,000', 'value': 99.0, 'a...",822,,1000,NaN,9038,0,99.999229
673,283354,NaN,50,2018-04-30T10:14:50.523Z,NaN,"[{'name': 'Less than 2,000', 'value': 100.0, '...",822,,1000,NaN,9038,0,99.999229
674,282640,NaN,50,2018-04-23T12:34:19.626Z,NaN,"[{'name': 'Less than 2,000', 'value': 100.0, '...",822,,1000,NaN,9039,0,99.999229
675,284929,NaN,50,2018-03-09T23:05:36.495Z,NaN,"[{'name': 'Less than 2,000', 'value': 41.0, 'a...",822,,1000,NaN,9041,0,99.999229
676,285477,NaN,50,2018-03-11T12:31:25.635Z,NaN,"[{'name': 'Less than 2,000', 'value': 41.0, 'a...",822,,1000,NaN,9041,0,99.999229
677,285971,NaN,50,2018-03-14T11:36:05.631Z,NaN,"[{'name': 'Less than 2,000', 'value': 41.0, 'a...",822,,1000,NaN,9041,0,99.999229
678,286802,NaN,50,2018-03-18T11:56:00.284Z,NaN,"[{'name': 'Less than 2,000', 'value': 40.0, 'a...",822,,1000,NaN,9041,0,99.999229
679,286936,NaN,50,2018-03-19T13:55:22.222Z,NaN,"[{'name': 'Less than 2,000', 'value': 40.0, 'a...",822,,1000,NaN,9041,0,99.999229
680,287354,NaN,50,2018-03-21T12:09:12.323Z,NaN,"[{'name': 'Less than 2,000', 'value': 40.0, 'a...",822,,1000,NaN,9041,0,99.999229
681,287426,NaN,50,2018-03-22T20:44:04.881Z,NaN,"[{'name': 'Less than 2,000', 'value': 37.0, 'a...",822,,1000,NaN,9041,0,99.999229
682,287971,NaN,50,2018-03-26T12:28:50.719Z,NaN,"[{'name': 'Less than 2,000', 'value': 37.0, 'a...",822,,1000,NaN,9041,0,99.999229
683,288099,NaN,50,2018-03-27T21:18:52.172Z,NaN,"[{'name': 'Less than 2,000', 'value': 37.0, 'a...",822,,1000,NaN,9041,0,99.999229
684,288704,NaN,50,2018-03-30T14:35:35.745Z,NaN,"[{'name': 'Less than 2,000', 'value': 38.0, 'a...",822,,1000,NaN,9041,0,99.999229
685,288912,NaN,50,2018-04-01T16:32:12.179Z,NaN,"[{'name': 'Less than 2,000', 'value': 38.0, 'a...",822,,1000,NaN,9041,0,99.999229
686,289014,NaN,50,2018-04-02T14:47:18.903Z,NaN,"[{'name': 'Less than 2,000', 'value': 38.0, 'a...",822,,1000,NaN,9041,0,99.999229
687,289465,NaN,50,2018-04-05T17:54:11.770Z,NaN,"[{'name': 'Less than 2,000', 'value': 38.0, 'a...",822,,1000,NaN,9041,0,99.999229
688,289616,NaN,50,2018-04-06T12:45:49.500Z,NaN,"[{'name': 'Less than 2,000', 'value': 38.0, 'a...",822,,1000,NaN,9041,0,99.999229
689,289877,NaN,50,2018-04-08T22:11:05.945Z,NaN,"[{'name': 'Less than 2,000', 'value': 38.0, 'a...",822,,1000,NaN,9041,0,99.999229
690,290177,NaN,50,2018-04-09T11:48:19.059Z,NaN,"[{'name': 'Less than 2,000', 'value': 38.0, 'a...",822,,1000,NaN,9041,0,99.999229
691,290606,NaN,50,2018-04-11T13:05:03.177Z,NaN,"[{'name': 'Less than 2,000', 'value': 38.0, 'a...",822,,1000,NaN,9041,0,99.999229
692,282020,NaN,50,2018-04-12T12:53:09.794Z,NaN,"[{'name': 'Less than 2,000', 'value': 39.0, 'a...",822,,1000,NaN,9041,0,99.999229
693,281293,NaN,50,2018-04-16T15:13:01.176Z,NaN,"[{'name': 'Less than 2,000', 'value': 57.99999...",822,,1000,NaN,9041,0,99.999229
694,281152,NaN,50,2018-04-17T12:04:01.134Z,NaN,"[{'name': 'Less than 2,000', 'value': 68.0, 'a...",822,,1000,NaN,9041,0,99.999229
695,280706,NaN,50,2018-04-19T12:26:17.101Z,NaN,"[{'name': 'Less than 2,000', 'value': 73.0, 'a...",822,,1000,NaN,9041,0,99.999229
696,283075,NaN,50,2018-04-25T14:26:28.764Z,NaN,"[{'name': 'Less than 2,000', 'value': 94.0, 'a...",822,,1000,NaN,9041,0,99.999229
697,286534,NaN,50,2018-03-17T23:10:52.406Z,NaN,"[{'name': 'Less than 2,000', 'value': 100.0, '...",822,,1000,NaN,9043,0,99.999229
698,285364,NaN,50,2018-03-11T19:44:12.089Z,NaN,"[{'name': 'Less than 2,000', 'value': 60.0, 'a...",822,,1000,NaN,9045,0,99.999229
699,286222,NaN,50,2018-03-15T05:12:32.456Z,NaN,"[{'name': 'Less than 2,000', 'value': 15.0, 'a...",822,The increasing trend is a new spring offensive...,1000,NaN,9046,0,99.999229
700,284393,NaN,50,2018-03-07T21:25:44.245Z,NaN,"[{'name': 'Less than 2,000', 'value': 14.00000...",822,,1000,NaN,9052,0,99.999229
701,284765,NaN,50,2018-03-08T10:31:32.594Z,NaN,"[{'name': 'Less than 2,000', 'value': 11.0, 'a...",822,,1000,NaN,9052,0,99.999229
702,285773,NaN,50,2018-03-13T09:05:07.230Z,NaN,"[{'name': 'Less than 2,000', 'value': 31.0, 'a...",822,,1000,NaN,9052,0,99.999229
703,287146,NaN,50,2018-03-20T08:59:45.136Z,NaN,"[{'name': 'Less than 2,000', 'value': 51.0, 'a...",822,,1000,NaN,9052,0,99.999229
704,288224,NaN,50,2018-03-27T09:14:53.345Z,NaN,"[{'name': 'Less than 2,000', 'value': 60.0, 'a...",822,,1000,NaN,9052,0,99.999229
705,290380,NaN,50,2018-04-10T07:51:23.528Z,NaN,"[{'name': 'Less than 2,000', 'value': 90.0, 'a...",822,,1000,NaN,9052,0,99.999229
706,290328,NaN,50,2018-04-10T13:45:19.427Z,NaN,"[{'name': 'Less than 2,000', 'value': 70.0, 'a...",822,,1000,NaN,9052,0,99.999229
707,290325,NaN,50,2018-04-10T14:09:53.503Z,NaN,"[{'name': 'Less than 2,000', 'value': 85.0, 'a...",822,,1000,NaN,9052,0,99.999229
708,281210,NaN,50,2018-04-16T19:58:18.765Z,NaN,"[{'name': 'Less than 2,000', 'value': 75.0, 'a...",822,,1000,NaN,9052,0,99.999229
709,281209,NaN,50,2018-04-16T19:59:27.358Z,NaN,"[{'name': 'Less than 2,000', 'value': 100.0, '...",822,,1000,NaN,9052,0,99.999229
710,283002,NaN,50,2018-04-25T19:34:12.313Z,NaN,"[{'name': 'Less than 2,000', 'value': 100.0, '...",822,,1000,NaN,9059,0,99.999229
711,284365,NaN,50,2018-03-07T22:23:41.765Z,NaN,"[{'name': 'Less than 2,000', 'value': 0.0, 'an...",822,Good chance things will get slightly better bu...,1000,NaN,9065,0,99.999229
712,284986,NaN,50,2018-03-09T15:00:00.927Z,NaN,"[{'name': 'Less than 2,000', 'value': 10.0, 'a...",822,,1000,NaN,9068,0,99.999229
713,289803,NaN,50,2018-04-07T02:30:53.732Z,NaN,"[{'name': 'Less than 2,000', 'value': 85.0, 'a...",822,,1000,NaN,9078,0,99.999229
714,284394,NaN,50,2018-03-07T21:12:37.380Z,NaN,"[{'name': 'Less than 2,000', 'value': 0.0, 'an...",822,I looked at the average over the last year (mo...,1000,NaN,9090,0,99.999229
715,281936,NaN,50,2018-04-12T19:54:02.316Z,NaN,"[{'name': 'Less than 2,000', 'value': 60.0, 'a...",822,Revised based on the latest data available.,1000,NaN,9090,0,99.999229
716,282579,NaN,50,2018-04-23T20:37:55.022Z,NaN,"[{'name': 'Less than 2,000', 'value': 99.0, 'a...",822,Revised based on data available (which is unti...,1000,NaN,9090,0,99.999229
717,283249,NaN,50,2018-04-27T17:04:57.796Z,NaN,"[{'name': 'Less than 2,000', 'value': 100.0, '...",822,"Data to 21 Apr indicates 1071 fatalities, so i...",1000,NaN,9090,0,99.999229
718,283323,NaN,50,2018-04-28T17:03:46.748Z,NaN,"[{'name': 'Less than 2,000', 'value': 100.0, '...",822,,1000,NaN,9093,0,99.999229
719,281362,NaN,50,2018-04-16T08:12:21.003Z,NaN,"[{'name': 'Less than 2,000', 'value': 65.0, 'a...",822,,1000,NaN,9097,0,99.999229
720,286303,NaN,50,2018-03-15T01:01:53.639Z,NaN,"[{'name': 'Less than 2,000', 'value': 30.0, 'a...",822,,1000,NaN,9099,0,99.999229
721,290308,NaN,50,2018-04-10T16:45:29.598Z,NaN,"[{'name': 'Less than 2,000', 'value': 25.0, 'a...",822,The most probable answer was estimated to by t...,1000,NaN,9118,0,99.999229
722,281671,NaN,50,2018-04-13T22:38:09.006Z,NaN,"[{'name': 'Less than 2,000', 'value': 70.0, 'a...",822,,1000,NaN,9118,0,99.999229
723,282379,NaN,50,2018-04-23T08:38:30.329Z,NaN,"[{'name': 'Less than 2,000', 'value': 100.0, '...",822,,1000,NaN,9141,0,99.999229
724,283178,NaN,50,2018-04-26T15:33:04.555Z,NaN,"[{'name': 'Less than 2,000', 'value': 99.0, 'a...",822,,1000,NaN,9156,0,99.999229
725,282800,NaN,50,2018-04-24T15:43:20.698Z,NaN,"[{'name': 'Less than 2,000', 'value': 100.0, '...",822,,1000,NaN,9161,0,99.999229
726,284306,NaN,50,2018-03-07T23:55:54.447Z,NaN,"[{'name': 'Less than 2,000', 'value': 100.0, '...",822,,1000,NaN,9265,0,99.999229
727,284496,NaN,50,2018-03-08T23:40:51.172Z,NaN,"[{'name': 'Less than 2,000', 'value': 0.0, 'an...",822,,1000,NaN,9267,0,99.999229
728,284312,NaN,50,2018-03-07T23:38:38.757Z,NaN,"[{'name': 'Less than 2,000', 'value': 35.0, 'a...",822,,1000,NaN,9268,0,99.999229
729,284310,NaN,50,2018-03-07T23:40:45.543Z,NaN,"[{'name': 'Less than 2,000', 'value': 10.0, 'a...",822,,1000,NaN,9268,0,99.999229
730,284328,NaN,50,2018-03-07T23:24:35.557Z,NaN,"[{'name': 'Less than 2,000', 'value': 22.0, 'a...",822,"Ugh, all data and comments deleted when I clic...",1000,NaN,9270,0,99.999229
731,284353,NaN,50,2018-03-07T22:47:49.101Z,NaN,"[{'name': 'Less than 2,000', 'value': 100.0, '...",822,,1000,NaN,9272,0,99.999229
732,286092,NaN,50,2018-03-15T20:11:40.884Z,NaN,"[{'name': 'Less than 2,000', 'value': 25.0, 'a...",822,,1000,NaN,9284,0,99.999229
733,285318,NaN,50,2018-03-11T22:25:56.900Z,NaN,"[{'name': 'Less than 2,000', 'value': 20.0, 'a...",822,,1000,NaN,9295,0,99.999229
734,284517,NaN,50,2018-03-08T21:56:17.984Z,NaN,"[{'name': 'Less than 2,000', 'value': 95.0, 'a...",822,,1000,NaN,9298,0,99.999229
735,285804,NaN,50,2018-03-14T23:33:55.431Z,NaN,"[{'name': 'Less than 2,000', 'value': 0.0, 'an...",822,,1000,NaN,9300,0,99.999229
736,284565,NaN,50,2018-03-08T20:40:19.078Z,NaN,"[{'name': 'Less than 2,000', 'value': 25.0, 'a...",822,,1000,NaN,9302,0,99.999229
737,284609,NaN,50,2018-03-08T19:07:13.662Z,NaN,"[{'name': 'Less than 2,000', 'value': 100.0, '...",822,,1000,NaN,9314,0,99.999229
738,284967,NaN,50,2018-03-09T15:56:30.329Z,NaN,"[{'name': 'Less than 2,000', 'value': 75.0, 'a...",822,,1000,NaN,9357,0,99.999229
739,285088,NaN,50,2018-03-09T04:16:08.961Z,NaN,"[{'name': 'Less than 2,000', 'value': 0.0, 'an...",822,,1000,NaN,9364,0,99.999229
740,285110,NaN,50,2018-03-09T03:21:19.055Z,NaN,"[{'name': 'Less than 2,000', 'value': 3.0, 'an...",822,,1000,NaN,9366,0,99.999229
741,286695,NaN,50,2018-03-17T01:41:30.944Z,NaN,"[{'name': 'Less than 2,000', 'value': 75.0, 'a...",822,,1000,NaN,9368,0,99.999229
742,285700,NaN,50,2018-03-12T00:23:07.467Z,NaN,"[{'name': 'Less than 2,000', 'value': 3.0, 'an...",822,,1000,NaN,9371,0,99.999229
743,285451,NaN,50,2018-03-11T14:06:42.109Z,NaN,"[{'name': 'Less than 2,000', 'value': 25.0, 'a...",822,,1000,NaN,9397,0,99.999229
744,286170,NaN,50,2018-03-15T10:56:14.439Z,NaN,"[{'name': 'Less than 2,000', 'value': 10.0, 'a...",822,,1000,NaN,9398,0,99.999229
745,287862,NaN,50,2018-03-25T09:10:50.031Z,NaN,"[{'name': 'Less than 2,000', 'value': 55.00000...",822,,1000,NaN,9413,0,99.999229
746,288230,NaN,50,2018-03-27T08:45:26.811Z,NaN,"[{'name': 'Less than 2,000', 'value': 63.0, 'a...",822,,1000,NaN,9413,0,99.999229
747,285689,NaN,50,2018-03-12T02:30:04.392Z,NaN,"[{'name': 'Less than 2,000', 'value': 0.0, 'an...",822,I deployed twice to Afghanistan in operational...,1000,NaN,9416,0,99.999229
748,285994,NaN,50,2018-03-14T07:49:16.150Z,NaN,"[{'name': 'Less than 2,000', 'value': 20.0, 'a...",822,,1000,NaN,9425,0,99.999229
749,286010,NaN,50,2018-03-14T03:39:31.556Z,NaN,"[{'name': 'Less than 2,000', 'value': 0.0, 'an...",822,,1000,NaN,9426,0,99.999229
750,286268,NaN,50,2018-03-15T02:06:48.178Z,NaN,"[{'name': 'Less than 2,000', 'value': 20.0, 'a...",822,"no clue, will revise",1000,NaN,9433,0,99.999229
751,286884,NaN,50,2018-03-19T15:02:56.349Z,NaN,"[{'name': 'Less than 2,000', 'value': 100.0, '...",822,,1000,NaN,9455,0,99.999229
752,286913,NaN,50,2018-03-19T14:39:59.003Z,NaN,"[{'name': 'Less than 2,000', 'value': 25.0, 'a...",822,,1000,NaN,9456,0,99.999229
753,287046,NaN,50,2018-03-20T16:38:58.967Z,NaN,"[{'name': 'Less than 2,000', 'value': 75.0, 'a...",822,,1000,NaN,9463,0,99.999229
754,288477,NaN,50,2018-03-28T01:01:44.931Z,NaN,"[{'name': 'Less than 2,000', 'value': 45.0, 'a...",822,,1000,NaN,9480,0,99.999229
2267,280496,NaN,50,2018-04-20T16:05:32.068Z,NaN,"[{'name': 'Less than 900', 'value': 0.0, 'answ...",831,,1000,NaN,9001,0,99.999229
2268,304829,NaN,50,2018-05-30T23:43:03.373Z,NaN,"[{'name': 'Less than 900', 'value': 0.0, 'answ...",831,,1000,NaN,9005,0,99.999229
2269,285627,NaN,50,2018-03-12T11:05:27.181Z,NaN,"[{'name': 'Less than 900', 'value': 40.0, 'ans...",831,,1000,NaN,9013,0,99.999229
2270,285756,NaN,50,2018-03-13T12:42:52.314Z,NaN,"[{'name': 'Less than 900', 'value': 80.0, 'ans...",831,A missile-based military offensive can not las...,1000,NaN,9013,0,99.999229
2271,283972,NaN,50,2018-05-02T14:30:37.122Z,NaN,"[{'name': 'Less than 900', 'value': 0.0, 'answ...",831,,1000,NaN,9013,0,99.999229
2272,305983,NaN,50,2018-05-30T14:08:36.254Z,NaN,"[{'name': 'Less than 900', 'value': 0.0, 'answ...",831,,1000,NaN,9013,0,99.999229
2273,288002,NaN,50,2018-03-26T04:52:13.859Z,NaN,"[{'name': 'Less than 900', 'value': 30.0, 'ans...",831,,1000,NaN,9014,0,99.999229
2274,281396,NaN,50,2018-04-16T06:08:29.131Z,NaN,"[{'name': 'Less than 900', 'value': 5.0, 'answ...",831,,1000,NaN,9014,0,99.999229
2275,282870,NaN,50,2018-04-26T05:24:50.142Z,NaN,"[{'name': 'Less than 900', 'value': 5.0, 'answ...",831,,1000,NaN,9014,0,99.999229
2276,283602,NaN,50,2018-05-02T04:08:07.124Z,NaN,"[{'name': 'Less than 900', 'value': 3.0, 'answ...",831,,1000,NaN,9014,0,99.999229
2277,300033,NaN,50,2018-05-19T13:58:10.057Z,NaN,"[{'name': 'Less than 900', 'value': 20.0, 'ans...",831,,1000,NaN,9014,0,99.999229
2278,283597,NaN,50,2018-05-02T04:32:01.659Z,NaN,"[{'name': 'Less than 900', 'value': 0.0, 'answ...",831,,1000,NaN,9016,0,99.999229
2279,286031,NaN,50,2018-03-14T02:51:49.369Z,NaN,"[{'name': 'Less than 900', 'value': 5.0, 'answ...",831,,1000,NaN,9017,0,99.999229
2280,287685,NaN,50,2018-03-23T08:26:11.463Z,NaN,"[{'name': 'Less than 900', 'value': 30.0, 'ans...",831,,1000,NaN,9017,0,99.999229
2281,282105,NaN,50,2018-04-12T06:11:50.119Z,NaN,"[{'name': 'Less than 900', 'value': 0.0, 'answ...",831,,1000,NaN,9017,0,99.999229
2282,281772,NaN,50,2018-04-13T06:32:12.767Z,NaN,"[{'name': 'Less than 900', 'value': 0.0, 'answ...",831,,1000,NaN,9017,0,99.999229
2283,281012,NaN,50,2018-04-18T07:33:50.404Z,NaN,"[{'name': 'Less than 900', 'value': 0.0, 'answ...",831,,1000,NaN,9017,0,99.999229
2284,282376,NaN,50,2018-04-23T09:09:40.986Z,NaN,"[{'name': 'Less than 900', 'value': 0.0, 'answ...",831,,1000,NaN,9017,0,99.999229
2285,282549,NaN,50,2018-04-24T07:25:08.113Z,NaN,"[{'name': 'Less than 900', 'value': 0.0, 'answ...",831,,1000,NaN,9017,0,99.999229
2286,283750,NaN,50,2018-05-03T09:56:45.564Z,NaN,"[{'name': 'Less than 900', 'value': 0.0, 'answ...",831,,1000,NaN,9017,0,99.999229
2287,295631,NaN,50,2018-05-11T04:42:44.578Z,NaN,"[{'name': 'Less than 900', 'value': 75.0, 'ans...",831,,1000,NaN,9017,0,99.999229
2288,303692,NaN,50,2018-05-28T01:28:28.050Z,NaN,"[{'name': 'Less than 900', 'value': 0.0, 'answ...",831,,1000,NaN,9017,0,99.999229
2289,281855,NaN,50,2018-04-12T21:20:21.983Z,NaN,"[{'name': 'Less than 900', 'value': 5.0, 'answ...",831,,1000,NaN,9020,0,99.999229
2290,289345,NaN,50,2018-04-04T13:56:30.801Z,NaN,"[{'name': 'Less than 900', 'value': 22.0, 'ans...",831,,1000,NaN,9028,0,99.999229

In [71]:
fcasts['forecast']

0         [{'value': 99.9992291186786, 'answer_id': 2481...
1         [{'value': 99.99793903047009, 'answer_id': 248...
2         [{'value': 99.9999412941342, 'answer_id': 2481...
3         [{'value': 99.9999993070015, 'answer_id': 2481...
4         [{'value': 20.0, 'answer_id': 2481}, {'value':...
5         [{'value': 20.0, 'answer_id': 2481}, {'value':...
6         [{'value': 20.0, 'answer_id': 2481}, {'value':...
7         [{'value': 20.0, 'answer_id': 2481}, {'value':...
8         [{'value': 20.0, 'answer_id': 2481}, {'value':...
9         [{'value': 20.0, 'answer_id': 2481}, {'value':...
10        [{'value': 20.0, 'answer_id': 2481}, {'value':...
11        [{'value': 20.0, 'answer_id': 2481}, {'value':...
12        [{'value': 20.0, 'answer_id': 2481}, {'value':...
13        [{'value': 20.0, 'answer_id': 2481}, {'value':...
14        [{'value': 20.0, 'answer_id': 2481}, {'value':...
15        [{'value': 20.0, 'answer_id': 2481}, {'value':...
16        [{'value': 20.0, 'answer_id': 2481}, {'value':...
17        [{'value': 20.0, 'answer_id': 2481}, {'value':...
18        [{'value': 20.0, 'answer_id': 2481}, {'value':...
19        [{'value': 20.0, 'answer_id': 2481}, {'value':...
20        [{'value': 20.0, 'answer_id': 2481}, {'value':...
21        [{'value': 20.0, 'answer_id': 2481}, {'value':...
22        [{'value': 20.0, 'answer_id': 2481}, {'value':...
23        [{'value': 20.0, 'answer_id': 2481}, {'value':...
24        [{'value': 20.0, 'answer_id': 2481}, {'value':...
25        [{'value': 20.0, 'answer_id': 2481}, {'value':...
26        [{'value': 20.0, 'answer_id': 2481}, {'value':...
27        [{'value': 20.0, 'answer_id': 2481}, {'value':...
28        [{'value': 20.0, 'answer_id': 2481}, {'value':...
29        [{'value': 20.0, 'answer_id': 2481}, {'value':...
30        [{'value': 20.0, 'answer_id': 2481}, {'value':...
31        [{'value': 20.0, 'answer_id': 2481}, {'value':...
32        [{'value': 20.0, 'answer_id': 2481}, {'value':...
33        [{'value': 20.0, 'answer_id': 2481}, {'value':...
34        [{'value': 100.0, 'answer_id': 2481}, {'value'...
35        [{'value': 100.0, 'answer_id': 2481}, {'value'...
36        [{'value': 100.0, 'answer_id': 2481}, {'value'...
37        [{'value': 100.0, 'answer_id': 2481}, {'value'...
38        [{'value': 100.0, 'answer_id': 2481}, {'value'...
39        [{'value': 100.0, 'answer_id': 2481}, {'value'...
40        [{'value': 100.0, 'answer_id': 2481}, {'value'...
41        [{'value': 100.0, 'answer_id': 2481}, {'value'...
42        [{'value': 100.0, 'answer_id': 2481}, {'value'...
43        [{'value': 100.0, 'answer_id': 2481}, {'value'...
44        [{'value': 100.0, 'answer_id': 2481}, {'value'...
45        [{'value': 100.0, 'answer_id': 2481}, {'value'...
46        [{'value': 100.0, 'answer_id': 2481}, {'value'...
47        [{'value': 100.0, 'answer_id': 2481}, {'value'...
48        [{'value': 100.0, 'answer_id': 2481}, {'value'...
49        [{'value': 100.0, 'answer_id': 2481}, {'value'...
50        [{'value': 100.0, 'answer_id': 2481}, {'value'...
51        [{'value': 56.83873120376211, 'answer_id': 248...
52        [{'value': 58.118298959526, 'answer_id': 2481}...
53        [{'value': 55.370057313592405, 'answer_id': 24...
54        [{'value': 56.50363609069699, 'answer_id': 248...
55        [{'value': 57.26785075647109, 'answer_id': 248...
56        [{'value': 57.36848341328, 'answer_id': 2481},...
57        [{'value': 58.60517119789041, 'answer_id': 248...
58        [{'value': 57.1970145806955, 'answer_id': 2481...
59        [{'value': 67.1437187995331, 'answer_id': 2481...
60        [{'value': 68.11563446743381, 'answer_id': 248...
61        [{'value': 68.01862048027189, 'answer_id': 248...
62        [{'value': 68.2016042968077, 'answer_id': 2481...
63        [{'value': 67.7582767756942, 'answer_id': 2481...
64        [{'value': 69.0315565063241, 'answer_id': 2481...
65        [{'value': 66.4214925893978, 'answer_id': 2481...
66        [{'value': 67.08518322492219, 'answer_id': 248...
67        [{'value': 69.9859919928465, 'answer_id': 2481...
68        [{'name': 'Less than 2,000', 'value': 90.0, 'a...
69        [{'name': 'Less than 2,000', 'value': 90.0, 'a...
70        [{'name': 'Less than 2,000', 'value': 90.0, 'a...
71        [{'name': 'Less than 2,000', 'value': 90.0, 'a...
72        [{'name': 'Less than 2,000', 'value': 90.0, 'a...
73        [{'name': 'Less than 2,000', 'value': 90.0, 'a...
74        [{'name': 'Less than 2,000', 'value': 90.0, 'a...
75        [{'name': 'Less than 2,000', 'value': 90.0, 'a...
76        [{'name': 'Less than 2,000', 'value': 35.0, 'a...
77        [{'name': 'Less than 2,000', 'value': 35.0, 'a...
78        [{'name': 'Less than 2,000', 'value': 35.0, 'a...
79        [{'name': 'Less than 2,000', 'value': 35.0, 'a...
80        [{'name': 'Less than 2,000', 'value': 35.0, 'a...
81        [{'name': 'Less than 2,000', 'value': 35.0, 'a...
82        [{'name': 'Less than 2,000', 'value': 35.0, 'a...
83        [{'name': 'Less than 2,000', 'value': 35.0, 'a...
84        [{'name': 'Less than 2,000', 'value': 35.0, 'a...
85        [{'name': 'Less than 2,000', 'value': 35.0, 'a...
86        [{'name': 'Less than 2,000', 'value': 35.0, 'a...
87        [{'name': 'Less than 2,000', 'value': 35.0, 'a...
88        [{'name': 'Less than 2,000', 'value': 35.0, 'a...
89        [{'name': 'Less than 2,000', 'value': 35.0, 'a...
90        [{'name': 'Less than 2,000', 'value': 35.0, 'a...
91        [{'name': 'Less than 2,000', 'value': 35.0, 'a...
92        [{'name': 'Less than 2,000', 'value': 35.0, 'a...
93        [{'name': 'Less than 2,000', 'value': 35.0, 'a...
94        [{'name': 'Less than 2,000', 'value': 35.0, 'a...
95        [{'name': 'Less than 2,000', 'value': 35.0, 'a...
96        [{'name': 'Less than 2,000', 'value': 35.0, 'a...
97        [{'name': 'Less than 2,000', 'value': 35.0, 'a...
98        [{'name': 'Less than 2,000', 'value': 35.0, 'a...
99        [{'name': 'Less than 2,000', 'value': 35.0, 'a...
100       [{'name': 'Less than 2,000', 'value': 35.0, 'a...
101       [{'name': 'Less than 2,000', 'value': 35.0, 'a...
102       [{'name': 'Less than 2,000', 'value': 35.0, 'a...
103       [{'name': 'Less than 2,000', 'value': 35.0, 'a...
104       [{'name': 'Less than 2,000', 'value': 35.0, 'a...
105       [{'name': 'Less than 2,000', 'value': 35.0, 'a...
106       [{'name': 'Less than 2,000', 'value': 35.0, 'a...
107       [{'name': 'Less than 2,000', 'value': 35.0, 'a...
108       [{'name': 'Less than 2,000', 'value': 35.0, 'a...
109       [{'name': 'Less than 2,000', 'value': 35.0, 'a...
110       [{'name': 'Less than 2,000', 'value': 35.0, 'a...
111       [{'name': 'Less than 2,000', 'value': 35.0, 'a...
112       [{'name': 'Less than 2,000', 'value': 35.0, 'a...
113       [{'name': 'Less than 2,000', 'value': 35.0, 'a...
114       [{'name': 'Less than 2,000', 'value': 35.0, 'a...
115       [{'name': 'Less than 2,000', 'value': 35.0, 'a...
116       [{'name': 'Less than 2,000', 'value': 69.0, 'a...
117       [{'name': 'Less than 2,000', 'value': 69.0, 'a...
118       [{'name': 'Less than 2,000', 'value': 69.0, 'a...
119       [{'name': 'Less than 2,000', 'value': 69.0, 'a...
120       [{'name': 'Less than 2,000', 'value': 69.0, 'a...
121       [{'name': 'Less than 2,000', 'value': 69.0, 'a...
122       [{'name': 'Less than 2,000', 'value': 69.0, 'a...
123       [{'name': 'Less than 2,000', 'value': 69.0, 'a...
124       [{'name': 'Less than 2,000', 'value': 85.0, 'a...
125       [{'name': 'Less than 2,000', 'value': 85.0, 'a...
126       [{'name': 'Less than 2,000', 'value': 25.0, 'a...
127       [{'name': 'Less than 2,000', 'value': 58.0, 'a...
128       [{'name': 'Less than 2,000', 'value': 50.0, 'a...
129       [{'name': 'Less than 2,000', 'value': 22.0, 'a...
130       [{'name': 'Less than 2,000', 'value': 22.0, 'a...
131       [{'name': 'Less than 2,000', 'value': 22.0, 'a...
132       [{'name': 'Less than 2,000', 'value': 41.0, 'a...
133       [{'name': 'Less than 2,000', 'value': 41.0, 'a...
134       [{'name': 'Less than 2,000', 'value': 41.0, 'a...
135       [{'name': 'Less than 2,000', 'value': 100.0, '...
136       [{'name': 'Less than 2,000', 'value': 100.0, '...
137       [{'name': 'Less than 2,000', 'value': 63.0, 'a...
138       [{'name': 'Less than 2,000', 'value': 63.0, 'a...
139       [{'name': 'Less than 2,000', 'value': 63.0, 'a...
140       [{'name': 'Less than 2,000', 'value': 63.0, 'a...
141       [{'name': 'Less than 2,000', 'value': 63.0, 'a...
142       [{'name': 'Less than 2,000', 'value': 96.0, 'a...
143       [{'name': 'Less than 2,000', 'value': 96.0, 'a...
144       [{'name': 'Less than 2,000', 'value': 85.0, 'a...
145       [{'name': 'Less than 2,000', 'value': 85.0, 'a...
146       [{'name': 'Less than 2,000', 'value': 85.0, 'a...
147       [{'name': 'Less than 2,000', 'value': 85.0, 'a...
148       [{'name': 'Less than 2,000', 'value': 95.0, 'a...
149       [{'name': 'Less than 2,000', 'value': 24.0, 'a...
150       [{'name': 'Less than 2,000', 'value': 24.0, 'a...
151       [{'name': 'Less than 2,000', 'value': 24.0, 'a...
152       [{'name': 'Less than 2,000', 'value': 24.0, 'a...
153       [{'name': 'Less than 2,000', 'value': 100.0, '...
154       [{'name': 'Less than 2,000', 'value': 100.0, '...
155       [{'name': 'Less than 2,000', 'value': 100.0, '...
156       [{'name': 'Less than 2,000', 'value': 100.0, '...
157       [{'name': 'Less than 2,000', 'value': 75.0, 'a...
158       [{'name': 'Less than 2,000', 'value': 75.0, 'a...
159       [{'name': 'Less than 2,000', 'value': 75.0, 'a...
160       [{'name': 'Less than 2,000', 'value': 75.0, 'a...
161       [{'name': 'Less than 2,000', 'value': 75.0, 'a...
162       [{'name': 'Less than 2,000', 'value': 75.0, 'a...
163       [{'name': 'Less than 2,000', 'value': 33.0, 'a...
164       [{'name': 'Less than 2,000', 'value': 33.0, 'a...
165       [{'name': 'Less than 2,000', 'value': 33.0, 'a...
166       [{'name': 'Less than 2,000', 'value': 33.0, 'a...
167       [{'name': 'Less than 2,000', 'value': 33.0, 'a...
168       [{'name': 'Less than 2,000', 'value': 35.0, 'a...
169       [{'name': 'Less than 2,000', 'value': 35.0, 'a...
170       [{'name': 'Less than 2,000', 'value': 100.0, '...
171       [{'name': 'Less than 2,000', 'value': 100.0, '...
172       [{'name': 'Less than 2,000', 'value': 10.0, 'a...
173       [{'name': 'Less than 2,000', 'value': 10.0, 'a...
174       [{'name': 'Less than 2,000', 'value': 10.0, 'a...
175       [{'name': 'Less than 2,000', 'value': 10.0, 'a...
176       [{'name': 'Less than 2,000', 'value': 10.0, 'a...
177       [{'name': 'Less than 2,000', 'value': 10.0, 'a...
178       [{'name': 'Less than 2,000', 'value': 10.0, 'a...
179       [{'name': 'Less than 2,000', 'value': 10.0, 'a...
180       [{'name': 'Less than 2,000', 'value': 10.0, 'a...
181       [{'name': 'Less than 2,000', 'value': 10.0, 'a...
182       [{'name': 'Less than 2,000', 'value': 10.0, 'a...
183       [{'name': 'Less than 2,000', 'value': 75.0, 'a...
184       [{'name': 'Less than 2,000', 'value': 20.0, 'a...
185       [{'name': 'Less than 2,000', 'value': 20.0, 'a...
186       [{'name': 'Less than 2,000', 'value': 70.0, 'a...
187       [{'name': 'Less than 2,000', 'value': 70.0, 'a...
188       [{'name': 'Less than 2,000', 'value': 70.0, 'a...
189       [{'name': 'Less than 2,000', 'value': 92.0, 'a...
190       [{'name': 'Less than 2,000', 'value': 45.0, 'a...
191       [{'name': 'Less than 2,000', 'value': 45.0, 'a...
192       [{'name': 'Less than 2,000', 'value': 45.0, 'a...
193       [{'name': 'Less than 2,000', 'value': 45.0, 'a...
194       [{'name': 'Less than 2,000', 'value': 45.0, 'a...
195       [{'name': 'Less than 2,000', 'value': 100.0, '...
196       [{'name': 'Less than 2,000', 'value': 100.0, '...
197       [{'name': 'Less than 2,000', 'value': 100.0, '...
198       [{'name': 'Less than 2,000', 'value': 100.0, '...
199       [{'name': 'Less than 2,000', 'value': 100.0, '...
200       [{'name': 'Less than 2,000', 'value': 100.0, '...
201       [{'name': 'Less than 2,000', 'value': 100.0, '...
202       [{'name': 'Less than 2,000', 'value': 75.0, 'a...
203       [{'name': 'Less than 2,000', 'value': 75.0, 'a...
204       [{'name': 'Less than 2,000', 'value': 75.0, 'a...
205       [{'name': 'Less than 2,000', 'value': 75.0, 'a...
206       [{'name': 'Less than 2,000', 'value': 75.0, 'a...
207       [{'name': 'Less than 2,000', 'value': 75.0, 'a...
208       [{'name': 'Less than 2,000', 'value': 75.0, 'a...
209       [{'name': 'Less than 2,000', 'value': 75.0, 'a...
210       [{'name': 'Less than 2,000', 'value': 100.0, '...
211       [{'name': 'Less than 2,000', 'value': 100.0, '...
212       [{'name': 'Less than 2,000', 'value': 10.0, 'a...
213       [{'name': 'Less than 2,000', 'value': 0.0, 'an...
214       [{'name': 'Less than 2,000', 'value': 0.0, 'an...
215       [{'name': 'Less than 2,000', 'value': 0.0, 'an...
216       [{'name': 'Less than 2,000', 'value': 0.0, 'an...
217       [{'name': 'Less than 2,000', 'value': 0.0, 'an...
218       [{'name': 'Less than 2,000', 'value': 0.0, 'an...
219       [{'name': 'Less than 2,000', 'value': 0.0, 'an...
220       [{'name': 'Less than 2,000', 'value': 0.0, 'an...
221       [{'name': 'Less than 2,000', 'value': 0.0, 'an...
222       [{'name': 'Less than 2,000', 'value': 0.0, 'an...
223       [{'name': 'Less than 2,000', 'value': 0.0, 'an...
224       [{'name': 'Less than 2,000', 'value': 0.0, 'an...
225       [{'name': 'Less than 2,000', 'value': 0.0, 'an...
226       [{'name': 'Less than 2,000', 'value': 75.0, 'a...
227       [{'name': 'Less than 2,000', 'value': 75.0, 'a...
228       [{'name': 'Less than 2,000', 'value': 75.0, 'a...
229       [{'name': 'Less than 2,000', 'value': 75.0, 'a...
230       [{'name': 'Less than 2,000', 'value': 75.0, 'a...
231       [{'name': 'Less than 2,000', 'value': 95.0, 'a...
232       [{'name': 'Less than 2,000', 'value': 95.0, 'a...
233       [{'name': 'Less than 2,000', 'value': 95.0, 'a...
234       [{'name': 'Less than 2,000', 'value': 95.0, 'a...
235       [{'name': 'Less than 2,000', 'value': 90.0, 'a...
236       [{'name': 'Less than 2,000', 'value': 90.0, 'a...
237       [{'name': 'Less than 2,000', 'value': 90.0, 'a...
238       [{'name': 'Less than 2,000', 'value': 90.0, 'a...
239       [{'name': 'Less than 2,000', 'value': 90.0, 'a...
240       [{'name': 'Less than 2,000', 'value': 90.0, 'a...
241       [{'name': 'Less than 2,000', 'value': 90.0, 'a...
242       [{'name': 'Less than 2,000', 'value': 90.0, 'a...
243       [{'name': 'Less than 2,000', 'value': 90.0, 'a...
244       [{'name': 'Less than 2,000', 'value': 90.0, 'a...
245       [{'name': 'Less than 2,000', 'value': 5.0, 'an...
246       [{'name': 'Less than 2,000', 'value': 0.0, 'an...
247       [{'name': 'Less than 2,000', 'value': 40.0, 'a...
248       [{'name': 'Less than 2,000', 'value': 40.0, 'a...
249       [{'name': 'Less than 2,000', 'value': 40.0, 'a...
                                ...
347742    [{'name': 'Less than 22,600', 'value': 10.0, '...
347743    [{'name': 'Less than 22,600', 'value': 5.0, 'a...
347744    [{'name': 'Less than 22,600', 'value': 5.0, 'a...
347745    [{'name': 'Less than 22,600', 'value': 0.0, 'a...
347746    [{'name': 'Less than 22,600', 'value': 0.0, 'a...
347747    [{'name': 'Less than 22,600', 'value': 9.0, 'a...
347748    [{'name': 'Less than 22,600', 'value': 15.0, '...
347749    [{'name': 'Less than 22,600', 'value': 0.0, 'a...
347750    [{'name': 'Less than 22,600', 'value': 0.0, 'a...
347751    [{'name': 'Less than 22,600', 'value': 10.0, '...
347752    [{'name': 'Less than 22,600', 'value': 13.0, '...
347753    [{'name': 'Less than 22,600', 'value': 10.0, '...
347754    [{'name': 'Less than 22,600', 'value': 0.0, 'a...
347755    [{'name': 'Less than 22,600', 'value': 0.0, 'a...
347756    [{'name': 'Less than 22,600', 'value': 10.0, '...
347757    [{'name': 'Less than 22,600', 'value': 31.0, '...
347758    [{'name': 'Less than 22,600', 'value': 0.0, 'a...
347759    [{'name': 'Less than 22,600', 'value': 15.0, '...
347760    [{'name': 'Less than 22,600', 'value': 0.0, 'a...
347761    [{'name': 'Less than 22,600', 'value': 0.0, 'a...
347762    [{'name': 'Less than 22,600', 'value': 75.0, '...
347763    [{'name': 'Less than 22,600', 'value': 10.0, '...
347764    [{'name': 'Less than 22,600', 'value': 5.0, 'a...
347765    [{'name': 'Less than 22,600', 'value': 10.0, '...
347766    [{'name': 'Less than 22,600', 'value': 15.0, '...
347767    [{'name': 'Less than 22,600', 'value': 5.0, 'a...
347768    [{'name': 'Less than 22,600', 'value': 10.0, '...
347769    [{'name': 'Less than 22,600', 'value': 15.0, '...
347770    [{'name': 'Less than 22,600', 'value': 5.0, 'a...
347771    [{'name': 'Less than 22,600', 'value': 0.0, 'a...
347772    [{'name': 'Less than 22,600', 'value': 50.0, '...
347773    [{'name': 'Less than 22,600', 'value': 0.0, 'a...
347774    [{'name': 'Less than 22,600', 'value': 5.0, 'a...
347775    [{'name': 'Less than 22,600', 'value': 0.0, 'a...
347776    [{'name': 'Less than 22,600', 'value': 5.0, 'a...
347777    [{'name': 'Less than 22,600', 'value': 10.0, '...
347778    [{'name': 'Less than 22,600', 'value': 10.0, '...
347779    [{'name': 'Less than 22,600', 'value': 10.0, '...
347780    [{'name': 'Less than 22,600', 'value': 35.0, '...
347781    [{'name': 'Less than 22,600', 'value': 15.0, '...
347782    [{'name': 'Less than 22,600', 'value': 0.0, 'a...
347783    [{'name': 'Less than 22,600', 'value': 5.0, 'a...
347784    [{'name': 'Less than 22,600', 'value': 10.0, '...
347785    [{'name': 'Less than 22,600', 'value': 12.0, '...
347786    [{'name': 'Less than 22,600', 'value': 0.0, 'a...
347787    [{'name': 'Less than 22,600', 'value': 5.0, 'a...
347788    [{'name': 'Less than 22,600', 'value': 15.0, '...
347789    [{'name': 'Less than 22,600', 'value': 5.0, 'a...
347790    [{'name': 'Less than 22,600', 'value': 0.0, 'a...
347791    [{'name': 'Less than 22,600', 'value': 30.0, '...
347792    [{'name': 'Less than 22,600', 'value': 1.0, 'a...
347793    [{'name': 'Less than 22,600', 'value': 85.0, '...
347794    [{'name': 'Less than 22,600', 'value': 5.0, 'a...
347795    [{'name': 'Less than 22,600', 'value': 0.0, 'a...
347796    [{'name': 'Less than 22,600', 'value': 0.0, 'a...
347797    [{'name': 'Less than 22,600', 'value': 0.0, 'a...
347798    [{'name': 'Less than 22,600', 'value': 0.0, 'a...
347799    [{'name': 'Less than 22,600', 'value': 45.0, '...
347800    [{'name': 'Less than 22,600', 'value': 5.0, 'a...
347801    [{'name': 'Less than 22,600', 'value': 0.0, 'a...
347802    [{'name': 'Less than 22,600', 'value': 5.0, 'a...
347803    [{'name': 'Less than 22,600', 'value': 0.0, 'a...
347804    [{'name': 'Less than 22,600', 'value': 6.0, 'a...
347805    [{'name': 'Less than 22,600', 'value': 0.0, 'a...
347806    [{'name': 'Less than 22,600', 'value': 0.0, 'a...
347807    [{'name': 'Less than 22,600', 'value': 5.0, 'a...
347808    [{'name': 'Less than 22,600', 'value': 0.0, 'a...
347809    [{'name': 'Less than 22,600', 'value': 0.0, 'a...
347810    [{'name': 'Less than 22,600', 'value': 5.0, 'a...
347811    [{'name': 'Less than 22,600', 'value': 0.0, 'a...
347812    [{'name': 'Less than 22,600', 'value': 14.0000...
347813    [{'name': 'Less than 22,600', 'value': 0.0, 'a...
347814    [{'name': 'Less than 22,600', 'value': 5.0, 'a...
347815    [{'name': 'Less than 22,600', 'value': 25.0, '...
347816    [{'name': 'Less than 22,600', 'value': 5.0, 'a...
347817    [{'name': 'Less than 22,600', 'value': 5.0, 'a...
347818    [{'name': 'Less than 22,600', 'value': 0.0, 'a...
347819    [{'name': 'Less than 22,600', 'value': 20.0, '...
347820    [{'name': 'Less than 22,600', 'value': 5.0, 'a...
347821    [{'name': 'Less than 22,600', 'value': 5.0, 'a...
347822    [{'name': 'Less than 22,600', 'value': 9.0, 'a...
347823    [{'name': 'Less than 22,600', 'value': 7.00000...